{{ define "content-top" }}

{{ end }}


{{ define "main" }}

    <div class="full-width">
        <div class="_960 ">
            <div class="subpage-content-section ex" id="subpages">
                <div class="subpage-content">
                    <div class="subpage-description" translate>
                        <p class="text-block-7">Decred Project Origin</p>
                        <p>Decred’s system of community-based governance integrated into its blockchain. The project mission is to develop technology for the public benefit, with a primary focus on cryptocurrency technology.</p>
                        <p>Best-in-class governance paired with perpetual funding and an open and collaborative environment with users and developers is the DNA that could achieve a breakthrough in blockchain development.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="subpage-content__history">
            <div class="_960 ">
                <div class="row">
                    <div class="col">
                        <div class="history-info">
                            <h3><span>3.2+</span> years</h3>
                            <p>of mainnet uptime</p>
                            <p class="history__text-block">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="history-info">
                            <h3><span>9.8+</span> mill.</h3>
                            <p>blocks mined</p>
                            <p class="history__text-block">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="history-info">
                            <h3><span>600k+</span> $DCR</h3>
                            <p>in development treasury</p>
                            <p class="history__text-block">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="history-info">
                            <h3><span>100+</span> active</h3>
                            <p>contributors</p>
                            <p class="history__text-block">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="history-info">
                            <h3><span>75+</span></h3>
                            <p>github repositories</p>
                            <p class="history__text-block">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="history-info">
                            <h3><span>40k+</span></h3>
                            <p>pull requests</p>
                            <p class="history__text-block">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="_960 ">
            <div class="subpage-content-section ex" style="padding-bottom: 0;">
                <div class="subpage-content">
                    <div class="subpage-description" style="width: 100%; margin-bottom: 14px;" translate>
                        <p class="text-block-7">Decred Timeline</p>
                        <div class="timeline">
                            <table>
                                <tr>
                                    <td class="span" style="padding-right: 24px; text-align: right;">
                                        JULY 4, 2013
                                    </td>
                                    <td>
                                        <div class="circle"></div> 
                                    </td>
                                    <td style="padding-left: 24px;">
                                        Memcoin2 (MC2) whitepaper announced by tacotime.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span" style="padding-right: 24px; text-align: right;">
                                        JANUARY 5, 2013
                                    </td>
                                    <td>
                                        <div class="circle"></div> 
                                    </td>
                                    <td style="padding-left: 24px;">
                                        btcd Bitcoin full node written in Go announced by Conformal Systems.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span" style="padding-right: 24px; text-align: right;">
                                        NOVEMBER 30, 2015
                                    </td>
                                    <td>
                                        <div class="circle"></div> 
                                    </td>
                                    <td style="padding-left: 24px;">
                                        "Bitcoin’s biggest challenges" published by Jake Yocom-Piatt.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span" style="padding-right: 24px; text-align: right;">
                                        NOVEMBER 30, 2015
                                    </td>
                                    <td>
                                        <div class="circle"></div> 
                                    </td>
                                    <td style="padding-left: 24px;">
                                        Decred announced on bitcointalk.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span" style="padding-right: 24px; text-align: right;">
                                        JANUARY 1, 2016
                                    </td>
                                    <td>
                                        <div class="circle"></div> 
                                    </td>
                                    <td style="padding-left: 24px;">
                                        Airdrop vetting finalized.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span" style="padding-right: 24px; text-align: right;">
                                        FEBRUARY 8, 2016
                                    </td>
                                    <td>
                                        <div class="circle"></div> 
                                    </td>
                                    <td style="padding-left: 24px;">
                                        Decred mainnet launched.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span" style="padding-right: 24px; text-align: right;">
                                        FEBRUARY 21, 2016
                                    </td>
                                    <td>
                                        <div class="circle"></div> 
                                    </td>
                                    <td style="padding-left: 24px;">
                                        First PoS votes are included in block 4096. -
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span" style="padding-right: 24px; text-align: right;">
                                        MARCH 23, 2016
                                    </td>
                                    <td>
                                        <div class="circle"></div> 
                                    </td>
                                    <td style="padding-left: 24px;">
                                        Decred RFP to incentivize the creation of 10 stakepools.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span" style="padding-right: 24px; text-align: right;">
                                        JULY 25, 2016
                                    </td>
                                    <td>
                                        <div class="circle"></div> 
                                    </td>
                                    <td style="padding-left: 24px;">
                                        First release of Paymetheus Windows GUI wallet.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span" style="padding-right: 24px; text-align: right;">
                                        DECEMBER 7, 2016
                                    </td>
                                    <td>
                                        <div class="circle"></div> 
                                    </td>
                                    <td style="padding-left: 24px;">
                                        zkc open-sourced by Company 0.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span" style="padding-right: 24px; text-align: right;">
                                        DECEMBER 26, 2016
                                    </td>
                                    <td>
                                        <div class="circle"></div> 
                                    </td>
                                    <td style="padding-left: 24px;">
                                        First release of Decrediton GUI wallet for Linux/OSX.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span" style="padding-right: 24px; text-align: right;">
                                        JULY 14, 2017
                                    </td>
                                    <td>
                                        <div class="circle"></div> 
                                    </td>
                                    <td style="padding-left: 24px;">
                                        dcrtime announced.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="span" style="padding-right: 24px; text-align: right;">
                                        JULY 9, 2017
                                    </td>
                                    <td>
                                        <div class="circle"></div> 
                                    </td>
                                    <td style="padding-left: 24px;">
                                        First hard fork vote in the history of cryptocurrency to change Decred's stake difficulty algorithm.
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="subpage-content__principles">
            <div class="_960">
                <p class="text-block-7">The project is bound by the following principles</p>
                <div class="row">
                    <div class="col">
                        <div class="history-principles">
                            <p class="text-size--10 text-color--light">01</p>
                            <hr class="hr-light">
                            <p class="text-size--12 text-color--light">FREE AND OPEN-SOURCE SOFTWARE</p>
                            <p class="text-size--10 text-color--dark">03</p>
                            <hr class="hr-dark">
                            <p class="text-size--12 text-color--dark">MULTI-STAKEHOLDER INCLUSIVITY</p>
                            <p class="text-size--10 text-color--dark">05</p>
                            <hr class="hr-dark">
                            <p class="text-size--12 text-color--dark">FIXED FINITE SUPPLY</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="history-principles">
                            <p class="text-size--10 text-color--dark">02</p>
                            <hr class="hr-dark">
                            <p class="text-size--12 text-color--dark">FREE SPEECH AND CONSIDERATION</p>
                            <p class="text-size--10 text-color--dark">04</p>
                            <hr class="hr-dark">
                            <p class="text-size--12 text-color--dark">INCREMENTAL PRIVACY AND SECURITY</p>
                            <p class="text-size--10 text-color--dark">06</p>
                            <hr class="hr-dark">
                            <p class="text-size--12 text-color--dark">UNIVERSAL FUNGIBILITY</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="history-principles last">
                            <img src="/images/group_500.svg" alt="">
                            <p class="text-size--22">Everyone has the right to communicate opinions and ideas without fear of censorship. Consideration shall be given to all constructive speech that is based in fact and reason.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="_960 ">
            <div class="subpage-content-section ex">       
                <div class="subpage-content">
                    <div id="get-into" class="panelSection" style="width: 100%;">
                        <p class="text-block-7">Find out more about</p>

                        <div class="row">

                            <div class="col">
                                <div class="get-into">
                                    <a href="https://www.decred.org/community/">
                                        <div class="get-into__content">
                                            <div class="text-block-9">Self-funding</div>
                                            <div>
                                                <p>Decred has been acknowledged as a leading cryptocurrency project by the Chicago Tribune, Bitcoin Magazine and Nasdaq. Press page is a gallery coverage and releases.</p>
                                                <p class="get-into__link">See decred.org/Self-funding →</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="get-into">
                                    <a href="https://www.decred.org/press/">
                                        <div class="get-into__content">
                                            <div class="text-block-9">Security</div>
                                            <div>
                                                <p>Decred has been acknowledged as a leading cryptocurrency project by the Chicago Tribune, Bitcoin Magazine and Nasdaq. Press page is a gallery coverage and releases.</p>
                                                <p class="get-into__link">See decred.org/Security →</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="get-into">
                                    <a href="https://www.decred.org/press/">
                                        <div class="get-into__content">
                                            <div class="text-block-9">History</div>
                                            <div>
                                                <p>Decred has been acknowledged as a leading cryptocurrency project by the Chicago Tribune, Bitcoin Magazine and Nasdaq. Press page is a gallery coverage and releases.</p>
                                                <p class="get-into__link">See decred.org/History →</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subpage-footer">
        <div class="subpage-footer__content width1100">
            <div><a href="#">Brand Resources</a> <a href="#">Communication Guidelines</a> <a href="#">Press Contacts</a> <a href="#">Liscening Information</a></div>
            <div><a href="#" class="btn">Sign up for Decred Newsletter ›</a></div>
        </div>
    </div>
{{ end  }}


