<div class="centerblock width940">

    <h1 class="colorlightblue font38 fontsemibold lineheigh45 margin65" translate="">{{ safeHTML ( T "home_guide_0" ) }}</h1>
    <div class="block transitionmodest w-clearfix">
        <div class="child transitionmodest w-clearfix">
            <div class="top w-clearfix">
                <div class="dot">
                    <div class="vertical"></div>
                    <div class="big transition"></div>
                    <div class="vertical"></div>
                </div>
                <a class="borderradius4 font24 fontregular header margin20 transition" id="overview" translate="">{{ safeHTML ( T "home_guide_1" ) }}</a>
            </div>
            <div class="backgroundcyan lineleft"></div>
            <div class="content transitionmodest w-clearfix">
                <div class="media"><img src="/images/01_overview.png" alt="Overview"></div>
                <div class="info w-clearfix">
                    <div class="text"><p translate="">{{ safeHTML ( T "home_guide_2" ) }}</p>
                        <p translate="">{{ safeHTML ( T "home_guide_3" ) }}</p></div>
                    <a class="borderradius4 buttoncontinue dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_4" ) }}</a>
                    <a class="borderradius4 buttonback dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_5" ) }}</a>
                </div>
            </div>
        </div>
        <div class="child transitionmodest w-clearfix">
            <div class="top w-clearfix">
                <div class="dot">
                    <div class="vertical"></div>
                    <div class="small transition"></div>
                    <div class="vertical"></div>
                </div>
                <a class="borderradius4 font18 fontregular header margin20 margin5 transition" id="the-basics" translate="">{{ safeHTML ( T "home_guide_6" ) }}</a>
            </div>
            <div class="backgroundcyan lineleft"></div>
            <div class="content transitionmodest w-clearfix">
                <div class="media"><img src="/images/02_basics.png" alt="Basics"></div>
                <div class="info w-clearfix">
                    <div class="text" translate="">{{ safeHTML ( T "home_guide_7" ) }}</div>
                    <a class="borderradius4 buttoncontinue dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_8" ) }}</a>
                    <a class="borderradius4 buttonback dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_9" ) }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="block transitionmodest w-clearfix">
        <div class="child transitionmodest w-clearfix">
            <div class="top w-clearfix">
                <div class="dot">
                    <div class="vertical"></div>
                    <div class="big transition"></div>
                    <div class="vertical"></div>
                </div>
                <a class="borderradius4 font24 fontregular header margin20 transition" id="decred-wallets" translate="">{{ safeHTML ( T "home_guide_10" ) }}</a>
            </div>
            <div class="backgroundcyan lineleft"></div>
            <div class="content transitionmodest w-clearfix">
                <div class="media"><img src="/images/03_decrediton.png" alt="Wallet"></div>
                <div class="info w-clearfix">
                    <div class="text" translate="">{{ safeHTML ( T "home_guide_11" ) }}</div>
                    <a class="borderradius4 buttoncontinue dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_12" ) }}</a>
                    <a class="borderradius4 buttonback dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_13" ) }}</a>
                </div>
            </div>
        </div>
        <div class="child transitionmodest w-clearfix">
            <div class="top w-clearfix">
                <div class="dot">
                    <div class="vertical"></div>
                    <div class="small transition"></div>
                    <div class="vertical"></div>
                </div>
                <a class="borderradius4 font18 fontregular header margin20 margin5 transition" id="send-receive-decred" translate="">{{ safeHTML ( T "home_guide_14" ) }}</a>
            </div>
            <div class="backgroundcyan lineleft"></div>
            <div class="content transitionmodest w-clearfix">
                <div class="media"><img src="/images/04_send-receive.png" alt="Send/Receive"></div>
                <div class="info w-clearfix">
                    <div class="text" translate="">{{ safeHTML ( T "home_guide_15" ) }}</div>
                    <a class="borderradius4 buttoncontinue dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_16" ) }}</a>
                    <a class="borderradius4 buttonback dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_17" ) }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="block transitionmodest w-clearfix">
        <div class="child transitionmodest w-clearfix">
            <div class="top w-clearfix">
                <div class="dot">
                    <div class="vertical"></div>
                    <div class="big transition"></div>
                    <div class="vertical"></div>
                </div>
                <a class="borderradius4 font24 fontregular header margin20 transition" id="mining-decred" translate="">{{ safeHTML ( T "home_guide_18" ) }}</a>
            </div>
            <div class="backgroundcyan lineleft"></div>
            <div class="content transitionmodest w-clearfix">
                <div class="media"><img src="/images/05_mining.png" alt="Mining"></div>
                <div class="info w-clearfix">
                    <div class="text" translate="">{{ safeHTML ( T "home_guide_19" ) }}</div>
                    <a class="borderradius4 buttoncontinue dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_20" ) }}</a>
                    <a class="borderradius4 buttonback dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_21" ) }}</a>
                </div>
            </div>
        </div>
        <div class="child transitionmodest w-clearfix">
            <div class="top w-clearfix">
                <div class="dot">
                    <div class="vertical"></div>
                    <div class="small transition"></div>
                    <div class="vertical"></div>
                </div>
                <a class="borderradius4 font18 fontregular header margin20 margin5 transition" id="proof-of-work-mining" translate="">{{ safeHTML ( T "home_guide_22" ) }}</a>
            </div>
            <div class="backgroundcyan lineleft"></div>
            <div class="content transitionmodest w-clearfix">
                <div class="media"><img src="/images/06_pow.png" alt="Proof-of-Work"></div>
                <div class="info w-clearfix">
                    <div class="text" translate="">{{ safeHTML ( T "home_guide_23" ) }}</div>
                    <a class="borderradius4 buttoncontinue dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_24" ) }}</a>
                    <a class="borderradius4 buttonback dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_25" ) }}</a>
                </div>
            </div>
        </div>
        <div class="child transitionmodest w-clearfix">
            <div class="top w-clearfix">
                <div class="dot">
                    <div class="vertical"></div>
                    <div class="small transition"></div>
                    <div class="vertical"></div>
                </div>
                <a class="borderradius4 font18 fontregular header margin20 margin5 transition" id="proof-of-stake-mining" translate="">{{ safeHTML ( T "home_guide_26" ) }}</a>
            </div>
            <div class="backgroundcyan lineleft"></div>
            <div class="content transitionmodest w-clearfix">
                <div class="media"><img src="/images/07_pos.png" alt="Proof-of-Stake"></div>
                <div class="info w-clearfix">
                    <div class="text" translate="">{{ safeHTML ( T "home_guide_27" ) }}</div>
                    <a class="borderradius4 buttoncontinue dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_28" ) }}</a>
                    <a class="borderradius4 buttonback dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_29" ) }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="block transitionmodest w-clearfix">
        <div class="child transitionmodest w-clearfix">
            <div class="top w-clearfix">
                <div class="dot">
                    <div class="vertical"></div>
                    <div class="big transition"></div>
                    <div class="vertical"></div>
                </div>
                <a class="borderradius4 font24 fontregular header margin20 transition" id="decred-governance" translate="">{{ safeHTML ( T "home_guide_48" ) }}</a>
            </div>
            <div class="backgroundcyan lineleft"></div>
            <div class="content transitionmodest w-clearfix">
                <div class="media"><img src="/images/09_community.png" alt="Community"></div>
                <div class="info w-clearfix">
                    <div class="text" translate="">{{ safeHTML ( T "home_guide_49" ) }}</div>
                    <a class="borderradius4 buttoncontinue dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_50" ) }}</a>
                    <a class="borderradius4 buttonback dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_51" ) }}</a>
                </div>
            </div>
        </div>
        <div class="child transitionmodest w-clearfix">
            <div class="top w-clearfix">
                <div class="dot">
                    <div class="vertical"></div>
                    <div class="small transition"></div>
                    <div class="vertical"></div>
                </div>
                <a class="borderradius4 font18 fontregular header margin20 margin5 transition" id="politeia" translate="">{{ safeHTML ( T "home_guide_52" ) }}</a>
            </div>
            <div class="backgroundcyan lineleft"></div>
            <div class="content transitionmodest w-clearfix">
                <div class="media"><img src="/images/06_pow.png" alt="Proof-of-Work"></div>
                <div class="info w-clearfix">
                    <div class="text" translate="">{{ safeHTML ( T "home_guide_53" ) }}</div>
                    <a class="borderradius4 buttoncontinue dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_54" ) }}</a>
                    <a class="borderradius4 buttonback dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_55" ) }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="block transitionmodest w-clearfix">
        <div class="child transitionmodest w-clearfix">
            <div class="top w-clearfix">
                <div class="dot">
                    <div class="vertical"></div>
                    <div class="big transition"></div>
                    <div class="vertical"></div>
                </div>
                <a class="borderradius4 font24 fontregular header margin20 transition" id="buy-trade-decred" translate="">{{ safeHTML ( T "home_guide_30" ) }}</a>
            </div>
            <div class="backgroundcyan lineleft"></div>
            <div class="content transitionmodest w-clearfix">
                <div class="media"><img src="/images/08_buying-trading.png" alt="Buying/Trading"></div>
                <div class="info w-clearfix">
                    <div class="text" translate="">{{ safeHTML ( T "home_guide_31" ) }}</div>
                    <a class="borderradius4 buttoncontinue dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_32" ) }}</a>
                    <a class="borderradius4 buttonback dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_33" ) }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="block transitionmodest w-clearfix">
        <div class="child transitionmodest w-clearfix">
            <div class="top w-clearfix">
                <div class="dot">
                    <div class="vertical"></div>
                    <div class="big transition"></div>
                    <div class="vertical"></div>
                </div>
                <a class="borderradius4 font24 fontregular header margin20 transition" id="community" translate="">{{ safeHTML ( T "home_guide_34" ) }}</a>
            </div>
            <div class="backgroundcyan lineleft"></div>
            <div class="content transitionmodest w-clearfix">
                <div class="media"><img src="/images/09_community.png" alt="Community"></div>
                <div class="info w-clearfix">
                    <div class="text" translate="">{{ safeHTML ( T "home_guide_35" ) }}</div>
                    <a class="borderradius4 buttoncontinue dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_36" ) }}</a>
                    <a class="borderradius4 buttonback dropshadow font14 fontsemibold transition w-button" href="#" translate="">{{ safeHTML ( T "home_guide_37" ) }}</a>
                </div>
            </div>
        </div>
    </div>

</div>
