<div class="mission-section w-clearfix">
    <img alt="" src="/images/frontpage_mission.svg" class="first mission-section-image">
    <div class="mission-content">
        <div class="section-title w-clearfix">
            <div class="section-title-line"></div>
            <div class="section-title-text">{{ T "home_mission_section_title" }}</div>
        </div>
        <h1 class="fix mission-title">{{ T "home_mission_title_1" }}</h1>
        <div class="mission-copy">{{ T "home_mission_body_1" }}</div>
    </div>
</div>
<div class="mission-section reverse">
    <noscript><div class="section-title-text">JavaScript required</div>
        <div class="mission-copy">We're sorry, but this Website doesn't work properly<br/>without JavaScript enabled.</div>
    </noscript>
    <div class="mission-chart">
        <div class="mission-chart-supply"><span class="amount mission-chart-supply">6 173 599</span>
            <span class="mission-chart-supply regular">{{ T "home_mission_chart_1" }}</span>
            <span class="cyan mission-chart-supply">21 000 000 DCR</span></div>
        <div class="svg-embed"></div>
        <div class="mission-chart-mined" translate>
            <span class="mission-chart-mined percent">29.4%</span>  {{ T "home_mission_chart_2" }}</div>
    </div>
    <div class="mission-content">
        <h1 class="mission-title">{{ T "home_mission_title_2" }}</h1>
        <div class="mission-copy">{{ T "home_mission_body_2" }}</div>
    </div>
</div>
<div class="last mission-section w-clearfix">
    <div class="mission-content">
        <h1 class="mission-title">{{ T "home_mission_title_3" }}</h1>
        <div class="mission-copy">{{ T "home_mission_body_3" }}</div>
    </div>
    <div class="lightning mission-section-image w-clearfix"><img alt="" src="/images/frontpage_lightning.svg" class="lightning mission-section-image">
        <div class="gif-ontop-svg"></div>
    </div>
</div>
