<div class="features-description">
    <div class="platform-fix section-title w-clearfix">
        <div class="section-title-line"></div>
        <div class="section-title-text">{{ T "home_platform_platform" }}</div>
    </div>
    <div class="features-title">{{ T "home_platform_features" }}</div>
    <div class="text-block-2">{{ T "home_platform_built" }}</div>
    <div class="text-block-2">
        <ul>
            <li>{{ T "home_platform_innovative" }}</li>
            <li>{{ T "home_platform_censorship" }}</li>
            <li>{{ T "home_platform_smartcontract" }}</li>
            <li>{{ T "home_platform_atomicswap" }}</li>
            <li>{{ T "home_platform_wallets_ease" }}</li>
        </ul>
    </div>
</div>
<div class="features-bubbles w-clearfix">
    <div class="consensus-voting feature-bubble w-clearfix">
        <div class="bubble-copy">
            <div class="bubble-body-title">{{ T "home_platform_consensus" }}</div>
            <div class="text-block-3">{{ T "home_platform_hybrid" }}</div>
        </div>
    </div>
    <div class="atomic-swaps feature-bubble w-clearfix">
        <div class="bubble-copy">
            <div class="bubble-body-title">{{ T "home_platform_swaps" }}</div>
            <div class="text-block-3">{{ T "home_platform_decent" }}</div>
        </div>
    </div>
    <div class="feature-bubble politeia w-clearfix">
        <div class="bubble-copy">
            <div class="bubble-body-title">{{ T "home_platform_politeia" }}</div>
            <div class="text-block-3">{{ T "home_platform_proposal" }}</div>
        </div>
    </div>
    <div class="feature-bubble lightning-network w-clearfix">
        <div class="bubble-copy">
            <div class="bubble-body-title">{{ T "home_platform_lightning" }}</div>
            <div class="text-block-3">{{ T "home_platform_ln_contracts" }}</div>
        </div>
    </div>
    <div class="cross-platform-wallets feature-bubble w-clearfix">
        <div class="bubble-copy">
            <div class="bubble-body-title">{{ T "home_platform_wallets" }}</div>
            <div class="text-block-3">{{ T "home_platform_accessible" }}</div>
        </div>
    </div>
    <div class="feature-bubble soon-tm w-clearfix">
        <div class="bubble-copy">
            <div class="bubble-body-title">{{ T "home_platform_soon" }}</div>
            <div class="text-block-3">{{ T "home_platform_active" }}</div>
        </div>
    </div>
</div>