<div class="politeia-notice__content">
    <img class="politeia-notice__logo" alt="Politeia" src="/images/icon-politeia.svg">
    <div class="politeia-notice__text">
        <div>
            <strong>{{ T "home_politeia_notice_title" }}</strong>
            <p>{{ T "home_politeia_notice_body"  }}</p>
        </div>
        <a class="button politeia-notice__button" href="https://proposals.decred.org/">
            <img alt="" src="/images/icon-politeia-notice-button.svg"><span>{{ T "home_politeia_notice_link_title" }}</span>
        </a>
    </div>
</div>
