<div class="principles-slides w-clearfix">
    <div class="principles-slides-select w-clearfix">
        <div class="first principles-select"></div>
        <div class="principles-select second"></div>
        <div class="principles-select third"></div>
        <div class="fourth principles-select"></div>
    </div>
    <div class="principles-slides-nest">
        <div class="active principles-slide w-clearfix">
            <div class="principles-slide-title">{{ T "home_principles_oss" }}</div>
            <div class="principles-slide-copy">{{ T "home_principles_free" }}</div>
        </div>
        <div class="principles-slide w-clearfix">
            <div class="principles-slide-title">{{ T "home_principles_incremental" }}</div>
            <div class="principles-slide-copy">{{ T "home_principles_privacy" }}</div>
        </div>
        <div class="principles-slide w-clearfix">
            <div class="principles-slide-title">{{ T "home_principles_speech" }}</div>
            <div class="principles-slide-copy">{{ T "home_principles_everyone" }}</div>
        </div>
        <div class="principles-slide w-clearfix">
            <div class="principles-slide-title">{{ T "home_principles_multi_stakeholder" }}</div>
            <div class="principles-slide-copy">{{ T "home_principles_inclusivity" }}</div>
        </div>
    </div>
</div>
<div class="principles-section">
    <div class="principles-title">{{ T "home_principles_bound" }}</div>
    <div class="principles-copy">{{ T "home_principles_equitable" }}</div>
</div>
