<div class="principles-slides w-clearfix">
    <div class="principles-slides-select w-clearfix">
        <div class="first principles-select"></div>
        <div class="principles-select second"></div>
        <div class="principles-select third"></div>
        <div class="fourth principles-select"></div>
    </div>
    <div class="principles-slides-nest">
        <div class="active principles-slide w-clearfix">
            <div class="principles-slide-title">{{ T "home_principles_oss" | safeHTML }}</div>
            <div class="principles-slide-copy">{{ T "home_principles_free"  | safeHTML }}</div>
        </div>
        <div class="principles-slide w-clearfix">
            <div class="principles-slide-title">{{ T "home_principles_incremental" | safeHTML  }}</div>
            <div class="principles-slide-copy">{{ T "home_principles_privacy" | safeHTML  }}</div>
        </div>
        <div class="principles-slide w-clearfix">
            <div class="principles-slide-title">{{ T "home_principles_speech" | safeHTML  }}</div>
            <div class="principles-slide-copy">{{ T "home_principles_everyone" | safeHTML  }}</div>
        </div>
        <div class="principles-slide w-clearfix">
            <div class="principles-slide-title">{{ T "home_principles_multi_stakeholder" | safeHTML  }}</div>
            <div class="principles-slide-copy">{{ T "home_principles_inclusivity" | safeHTML  }}</div>
        </div>
    </div>
</div>
<div class="principles-section">
    <div class="principles-title">{{ T "home_principles_bound" | safeHTML  }}</div>
    <div class="principles-copy">{{ T "home_principles_equitable" | safeHTML  }}</div>
</div>
