{{ define "content-top" }}

{{ end }}


{{ define "main" }}

    <div class="full-width">
        <div class="_960">
            <div class="print-version">
                <div class="print-pdf">
                    <a class="button news_banner__button" href="#"
                       target="_blank">
                        <img src="{{ .Site.BaseURL }}/images/play.svg" width="20" height="20" alt="">
                        <span>On Security</span>
                    </a>
                </div>
            </div>
            <div class="subpage-content__menu">
               <a href="#">WHAT IS DECRED|</a><a href="/adaptability">ADAPTABLE</a><a class="active" href="/security">SECURE</a><br><a href="/sustainability">SUSTAINABLE</a><a href="/history">HISTORY</a>
            </div>
            <div class="subpage-content-section ex" id="subpages">
                <div class="subpage-content">
                    <div class="subpage-description__heading" translate>
                        <p>Network security is foundation to any financial system. Agreement on transactions and account balances, also known as consensus, it vital to confidence in the currency and can be measured by both longevity and analysis of its resistance to various attack vectors. </p>
                    </div>
                    <div class="row margin30">
                        <div class="col-6 img-hidden">
                            <img src="{{ .Site.BaseURL }}/images/Rectangle_2272.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">Imperfect Systems</p>
                                <p>In peer-to-peer financial systems, Proof-of-Work solved the double spending problem. It has proved its worth for more than a decade, but is energy intensive and susceptible to majority attacks. Proof-of-Stake was developed to avoid those issues through alignment of interests, but it came with its own shortcomings, most notably the nothing at stake problem.</p>
                            </div>
                        </div>
                        <div class="col-6 justify-content-end img-visible">
                            <img src="{{ .Site.BaseURL }}/images/Rectangle_2272.jpg" alt="">
                        </div>
                    </div>
                    <div class="row margin30">
                        <div class="col-6">  
                            <img src="{{ .Site.BaseURL }}/images/Rectangle_2272.jpg" alt="">
                        </div>
                        <div class="col-6 justify-content-end">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">Decred’s Hybrid Solution</p>
                                <p>Decred employs a combination of PoW and PoS to yield the best of both systems, mitigate their weaknesses, and deliver a layered consensus mechanism that makes it far more secure than other cryptocurrencies. Decred uses conventional PoW, typically mined by ASICs using the Blake-256 hash algorithm, for which it is dominant. Decred holders time-lock their funds to purchase tickets. Those tickets are added to a pool of roughly 41,000 tickets, and five tickets are pseudorandomly selected to validate the proof-of-work for each block. If at least 50% of the tickets approve the work of the miner, the block is approved and added to the blockchain. </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 img-hidden">
                            <img src="{{ .Site.BaseURL }}/images/Rectangle_2272.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">Resistance to Attacks</p>
                                <p>Because a block must include 3 or more ticket votes to be valid, blocks must be broadcast on the network as they are mined for the chain to proceed, so miners cannot mine in secret.  The result is that an attacker must have a considerable combination of hashpower and stake to successfully execute a majority attack. Decred voters are also set to reject a reorg of greater than 6 blocks, so any attack involving a deep reorg is unlikely to be accepted by the network. When comparing the cost of an attack on Decred to that of a pure PoW cryptocurrency, the cost to attack Decred is an order of magnitude greater, plus any attacker with stake would be taking actions counter to their interests. </p>
                            </div>
                        </div>
                        <div class="col-6 justify-content-end img-visible">
                            <img src="{{ .Site.BaseURL }}/images/Rectangle_2272.jpg" alt="">
                        </div>
                    </div>
                </div>
                   
                <div class="subpage-content">
                    <div id="get-into" class="panelSection" style="width: 100%;">
                        <p class="text-block-7">Find out more about</p>
                        <div class="row">
                            <div class="col-3x">
                                <div class="get-into">
                                    <a href="https://www.decred.org/community/">
                                        <div class="get-into__content">
                                            <div class="text-block-9">Self-funding</div>
                                            <div>
                                                <p>Decred has been acknowledged as a leading cryptocurrency project by the Chicago Tribune, Bitcoin Magazine and Nasdaq. Press page is a gallery coverage and releases.</p>
                                                <p class="get-into__link">See decred.org/Self-funding →</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3x">
                                <div class="get-into">
                                    <a href="https://www.decred.org/press/">
                                        <div class="get-into__content">
                                            <div class="text-block-9">Security</div>
                                            <div>
                                                <p>Decred has been acknowledged as a leading cryptocurrency project by the Chicago Tribune, Bitcoin Magazine and Nasdaq. Press page is a gallery coverage and releases.</p>
                                                <p class="get-into__link">See decred.org/Security →</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3x">
                                <div class="get-into">
                                    <a href="https://www.decred.org/press/">
                                        <div class="get-into__content">
                                            <div class="text-block-9">History</div>
                                            <div>
                                                <p>Decred has been acknowledged as a leading cryptocurrency project by the Chicago Tribune, Bitcoin Magazine and Nasdaq. Press page is a gallery coverage and releases.</p>
                                                <p class="get-into__link">See decred.org/History →</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subpage-footer">
        <div class="subpage-footer__content width1100">
            <div><a class="bd-right" href="#">Logo</a> <a class="bd-right" href="#">Press Contacts</a> <a href="#">Liscening Information</a></div>
            <div><a href="#" class="btn">Sign up for Decred Newsletter ›</a></div>
        </div>
    </div>
{{ end  }}


