{{ define "main" }}

{{ partial "news/section-nav.html" . }}

<div class="full-width">
    <div class="_960">
        <!--  template       news-community/list.html</>-->
        <div class="subpage-content-section">
            <div class="subpage-content news">

                {{ range .Paginator.Pages }}
                <div class="press__coverage-item press__releases-item">
                    <img class="press__coverage-icon" src="/images/press-release-icon.svg" width="30" alt=""/>

                    <div class="press__coverage-wrapper">
                        <p><span class="press__title"><a href="{{ .Permalink }}">{{ .Params.title }}</a></span></p>
                        <p class="press__date">{{ .PublishDate.Format "January 2, 2006" }}</p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}