{{ define "fronta"  }}
<div class="fronta landing video-header">
    <video autoplay loop muted poster="/videos/headers/landing/fallback.jpg">
    </video>
    <div class="_960 subpage-header"><a href="{{ .Site.BaseURL }}" class="subpage-logo slack-join w-inline-block"></a></div>
    <div class="_960 subpage-header">
        <div class="landing-title">Community-Directed, Superior Store of Value</div>
        <div class="d-flex">
            <a class="play-btn" href="#"><img src="/images/play.svg" alt=""><span>Watch Video</span></a>
            <a class="wallet-btn" href="#"><img src="/images/wallet.svg" alt=""> Download Wallet</a>
            <div class="all-downloads">Decrediton for Mac OS X <a href="#">All Downloads →</a></div>
        </div>
    </div>
</div>
{{ end }}


{{ define "main" }}

    <div class="full-width landing-content">
        <div class="_960">
            <div class="landing-content-bg secure-bg">
                <div>
                    <p class="heading-text-block">Secure</p>
                    <p class="landing-text-block">Decred employs an innovative hybrid proof-of-work/proof-of stake system that layers security and carefully aligns incentives. This system yields the best of both worlds, making it an order of magnitude more expensive to attack than pure attack than pure Proof-of-work or pure Proof-of-stake. </p>
                </div>
                <div>
                    <a href="#">Read More About Security →</a> <a href="#">Bug Bounty Program →</a> <a href="#">Github →</a>
                </div>
            </div>
            <div class="landing-content-bg adaptable-bg">
                <div>
                    <p class="heading-text-block">Adaptable</p>
                    <p class="landing-text-block">Decred’s built-in governance systems empower its community with formal rights to make consensus changes and manage project-level decisions. Theses systems make Decred adaptable, allowing it to evolve per the stakeholders, resist forks and incorporate new technology over the long run. </p>
                </div>
                <div>
                    <a href="#">Read More About Adaptability →</a>
                    <a href="#">Proposal System </a>
                </div>
            </div>
            <div class="landing-content-bg sustainable-bg">
                <div>
                    <p class="heading-text-block">Sustainable  →</p>
                    <p class="landing-text-block">Decred continually funds its treasury with 10% of each block reward and employs a flexible contractor model that allows contributors to receive compensation per their work. This makes Decred a sustainable and self-funded decentralized autonomous organization.</p>
                </div>
                <div>
                    <a href="#">Read More About Sustainability →</a>
                    <a href="#">Contributing and Becoming a Contractor </a>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="landing-bg">
                        <p class="landing-heading-block">Exchanges →</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="landing-bg">
                        <p class="landing-heading-block">Docs →</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="landing-bg">
                        <p class="landing-heading-block">Community →</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="landing-bg last">
                        <p class="landing-heading-block">Downloads →</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-width latest-news">
        <div class="_960">
            <div class="d-flex latest-news__title">
                <p>Latest News and Posts</p>
                <a href="#">See More →</a>
            </div>
            <div class="subpage-content-section">
                <div class="press press__coverage subpage-content w-clearfix active">
                    <div class="press__coverage-item">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img alt="" class="press__coverage-icon" src="/images/press-release-icon.svg" width="30" />
                            <div class="press__coverage-wrapper">
                                <p><span class="press__title">Politeia in Production</span></p>
                                <p class="press__date">2018-04-26</p>
                            </div>
                        </a>
                    </div>
                    <div class="press__coverage-item">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img alt="" class="press__coverage-icon" src="/images/ltnp-2.svg" width="30" />
                            <div class="press__coverage-wrapper">
                                <p><span class="press__title">Decred Release Update v1.4.0</span></p>
                                <p class="press__date">2018-03-04</p>
                            </div>
                        </a>
                    </div>
                    <div class="press__coverage-item">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img alt="" class="press__coverage-icon" src="/images/press-coverage-icon.svg" width="30" />
                            <div class="press__coverage-wrapper">
                                <p><span class="press__title">Decred Launches Proposal System to Advance Blockchain Governance</span>
                                    <span class="press__source"> (nasdaq.com)</span></p>
                                <p class="press__date">2017-10-26</p>
                            </div>
                        </a>
                    </div>
                    <div class="press__coverage-item">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img alt="" class="press__coverage-icon" src="/images/press-coverage-icon.svg" width="30" />
                            <div class="press__coverage-wrapper">
                                <p><span class="press__title">Chicago developers launch Decred, a Bitcoin alternative</span>
                                    <span class="press__source"> (chicagotribune.com)</span></p>
                                <p class="press__date">2016-02-10</p>
                            </div>
                        </a>
                    </div>
                    <div class="press__coverage-item">
                        <a href="#" target="_blank" rel="noopener noreferrer">
                            <img alt="" class="press__coverage-icon" src="/images/ltnp-1.svg" width="30" />
                            <div class="press__coverage-wrapper">
                                <p><span class="press__title">Decred Journal, January 2019</span>
                                    <span class="press__source"> (xaur.github.io)</span></p>
                                <p class="press__date">2016-02-10</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="subpage-footer">
        <div class="subpage-footer__content width1100">
            <div><a class="bd-right" href="#">Logo</a> <a class="bd-right" href="#">Press Contacts</a> <a href="#">Liscening Information</a></div>
            <div><a href="#" class="btn">Sign up for Decred Newsletter ›</a></div>
        </div>
    </div>
{{ end  }}


