{{ define "fronta"  }}
<div class="fronta subpage video-header">
    <video autoplay loop muted poster="/videos/headers/landing/fallback.jpg">
    </video>
    <div class="_960 subpage-header"><a href="{{ .Site.BaseURL }}" class="subpage-logo slack-join w-inline-block"></a></div>
    <div class="_960 subpage-header">
        <div class="landing-title">Community-Directed, Superior Store of Value</div>
    </div>
</div>
{{ end }}


{{ define "main" }}

    <div class="full-width">
        <div class="_960">
            
        </div>
    </div>
    <div class="subpage-footer">
        <div class="subpage-footer__content width1100">
            <div><a class="bd-right" href="#">Logo</a> <a class="bd-right" href="#">Press Contacts</a> <a href="#">Liscening Information</a></div>
            <div><a href="#" class="btn">Sign up for Decred Newsletter ›</a></div>
        </div>
    </div>
{{ end  }}


