{{ define "fronta"  }}
{{ $download_links := where (index .Site.Data.wallets.links "decrediton") "is_direct_download" true }}
<div class="fronta landing video-header">
    <video autoplay loop muted poster="/videos/headers/landing/fallback.jpg">
    </video>
    <div class="_960 subpage-header"><a href="{{ .Site.BaseURL }}" class="subpage-logo slack-join w-inline-block"></a></div>
    <div class="_960 subpage-header">
        <div class="landing-title">{{ T "landing_opener" }}</div>
        <div class="d-flex"> 
            <a class="play-btn play-modal" href="#"><img src="{{ .Site.BaseURL }}/images/play.svg" alt=""><span>Watch Video</span></a>        
            <a class="wallet-btn alldl" href="{{ "/wallets" | relLangURL }}"><img src="{{ .Site.BaseURL }}/images/wallet.svg" alt=""> {{ T "home_download_wallet" }}</a>
            <div class="all-downloads os-specific alldl">{{ T "home_for_computer" }} <a href="{{ "/wallets" | relLangURL }}">{{ T "home_all_downloads" }} →</a></div>
            {{ range $download_links }}
            <a class="wallet-btn os-specific {{ .platform }}" href="{{ .url }}"><img src="{{ .Site.BaseURL }}/images/wallet.svg" style="padding: 10px;" alt=""> {{ T "home_download_wallet" }}</a>
            <div class="all-downloads os-specific {{ .platform }}">{{ $msg_id := print "home_decrediton_for_" .platform }} {{ T $msg_id  }} <br /><a href="{{ "/wallets" | relLangURL }}">{{ T "home_all_downloads" }} →</a></div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}


{{ define "main" }}

    <div class="full-width landing-content">
        <div class="_960">
            <div class="landing-content-bg secure-bg">
                <div>
                    <p class="heading-text-block">{{ T "landing_01_headline" }}</p>
                    <p class="landing-text-block">{{ T "landing_01_text"}}</p>
                </div>
                <div class="landing-content-link">
                    <a href="{{ "security/" | relLangURL }}">{{ T "landing_01_link1"}} →</a> <a href="https://bounty.decred.org/" target="_blank" rel="noopener noreferrer">{{ T "landing_01_link2"}} →</a> <a href="https://github.com/decred/" target="_blank" rel="noopener noreferrer">{{ T "landing_01_link3"}} →</a>
                </div>
            </div>
            <div class="landing-content-bg adaptable-bg">
                <div>
                    <p class="heading-text-block">{{ T "landing_02_headline" }}</p>
                    <p class="landing-text-block">{{ T "landing_02_text"}} </p>
                </div>
                <div class="landing-content-link">
                    <a href="{{ "adaptability/" | relLangURL }}">{{ T "landing_02_link1"}} →</a>
                    <a href="https://proposals.decred.org" target="_blank" rel="noopener noreferrer">{{ T "nav_politeia"}} →</a>
                </div>
            </div>
            <div class="landing-content-bg sustainable-bg">
                <div>
                    <p class="heading-text-block">{{ T "landing_03_headline" }}  →</p>
                    <p class="landing-text-block">{{ T "landing_03_text"}}</p>
                </div>
                <div class="landing-content-link">
                    <a href="{{ "sustainability/" | relLangURL }}">{{ T "landing_03_link1"}} →</a>
                    <a href="{{ "recruiting/" | relLangURL }}">{{ T "landing_03_link2"}} →</a>
                </div>
            </div>
            <div class="row">
                <div class="landing-bg">
                    <a href="{{ "exchanges/" | relLangURL }}">
                        <div class="landing-bg__content">
                            <p class="landing-heading-block">{{ T "landing_04_link" }} →</p>
                        </div>
                    </a>
                </div>
                <div class="landing-bg">
                    <a href="https://docs.decred.org/" target="_blank" rel="noopener noreferrer">
                        <div class="landing-bg__content">
                            <p class="landing-heading-block">{{ T "landing_05_link" }} →</p>
                        </div>
                    </a>
                </div>
                <div class="landing-bg">
                    <a href="{{ "community/" | relLangURL }}">
                        <div class="landing-bg__content">
                            <p class="landing-heading-block">{{ T "landing_06_link" }} →</p>
                        </div>
                    </a>
                </div>
                <div class="landing-bg">
                    <a href="{{ "wallets/" | relLangURL }}">
                        <div class="landing-bg__content">
                            <p class="landing-heading-block">{{ T "landing_07_link" }} →</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="full-width latest-news">
        <div class="_960">
            <div class="d-flex latest-news__title">
                <p>{{ T "landing_latestnews" }}</p>
                <a href="{{ "/press/" }}">{{ T "landing_seemore" }} →</a>
            </div>
            <div class="subpage-content-section">
                <div class="press press__coverage subpage-content w-clearfix active">
                    {{ partial "landing-coverage-list" . }}
                </div>
            </div>
        </div>
    </div>

    {{ partial "subpage-footer.html" . }}
{{ end  }}


