
{{ define "main" }}
    <div class="full-width">
      <div class="_960">
        <div class="subpage-content-section">
          <div class="subpage-description"><p>{{ T "getinvolved_description"  }}</p></div>
          <div class="subpage-content">
            <div class="text-block-2">
              <div class="text-block-10">{{ T "getinvolved_repos_title"}}</div>
              <p>{{ T "getinvolved_repos_text"}}</p>
              <br>
              <div class="text-block-5">{{ T "getinvolved_software_title"}}</div>
              <p>{{ T "getinvolved_software_text"}}</p>
              <ul>
              <li>{{ T "getinvolved_software_list_decrediton" | safeHTML}}</li>
              <li>{{ T "getinvolved_software_list_dcrdaemons" | safeHTML}}</li>
              <li>{{ T "getinvolved_software_list_politeia" | safeHTML}}</li>
              <li>{{ T "getinvolved_software_list_dcrdata" | safeHTML}}</li>
              <li>{{ T "getinvolved_software_list_dcrweb" | safeHTML}}</li>
              <li>{{ T "getinvolved_software_list_dcps" | safeHTML}}</li>
              </ul>
              <br>
              <div class="text-block-5">{{ T "getinvolved_notsoftware_title"}}</div>
              <p><a href="https://github.com/decred/dcrdocs">decred/dcrdocs</a> - {{ T "getinvolved_notsoftware_desc_dcrdocs" | safeHTML}}</p>
              <p><a href="https://github.com/decred/dcrdesign">decred/dcrdesign</a> - {{ T "getinvolved_notsoftware_desc_dcrdesign" | safeHTML}}</p>
              <p><a href="https://github.com/raedahgroup/video-production">raedahgroup/video-production</a> - {{ T "getinvolved_notsoftware_desc_video-production" | safeHTML}}</p>
              <p><a href="https://github.com/xaur/decred-news">xaur/decred-news</a> - {{ T "getinvolved_notsoftware_desc_decred-news" | safeHTML}}</p>
              <p><a href="https://github.com/xaur/decred-issues">xaur/decred-issues</a> - {{ T "getinvolved_notsoftware_desc_decred-issues" | safeHTML}}</p>
              <p><a href="https://github.com/heyvj/decred-events">heyvj/decred-events</a> - {{ T "getinvolved_notsoftware_desc_decred-events" | safeHTML}}</p>
              <p><a href="https://github.com/dezryth">dezryth</a> - {{ T "getinvolved_notsoftware_desc_dezryth" | safeHTML}}</p>
              <p><a href="https://github.com/karamble/dcrstatus">karamble/dcrstatus</a> - {{ T "getinvolved_notsoftware_desc_dcrstatus" | safeHTML}}</p>
              <p><a href="https://github.com/artikozel/decred-timeline">artikozel/decred-timeline</a> - {{ T "getinvolved_notsoftware_desc_decred-timeline" | safeHTML}}</p>
              <p><a href="https://github.com/richardred0x">richardred0x</a> - {{ T "getinvolved_notsoftware_desc_richardred0x" | safeHTML}}</p>
              <ul>
              <li><a href="https://github.com/richardred0x/decred-media-tracker">decred-media-tracker</a></li>
              <li><a href="https://github.com/richardred0x/politeia-digest">politeia-digest</a></li>
              <li><a href="https://github.com/richardred0x/decred-research">decred-research</a></li>
              <li><a href="https://github.com/richardred0x/pi-research">pi-research</a></li>
              </ul>
              <br>
              <div class="text-block-10">{{ T "getinvolved_additional_title"}}</div>
              <p>{{ T "getinvolved_additional_recruiting" | safeHTML}}</p>
              <p>{{ T "getinvolved_additional_compensation" | safeHTML}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{{end}}