
{{ define "main" }}
  <div class="main slack-join">
    <div class="wrapper slack-join">
      <div class="left">
        <div class="left-wrapper">
          <div class="slack-join-notice">
            <p>{{ T "matrix_to_register_using_the_riot" }}</p>
            <p><a href="https://chat.decred.org/">{{ T "matrix_register_with_riot" }}</a></p>
            <p class="slack-join-notice-highlight">{{ T "matrix_note_you_must_register_with" }}</p>
            <p>{{ T "matrix_if_you_already_have_an" }}</p>
            <p><a href="https://matrix.to/#/+decred:decred.org">{{ T "matrix_login_to_decred_homeserver" | safeHTML }}</a></p>
            <p>{{ T "matrix_to_browse_decred_rooms_click" }}</p>
            <p><a href="https://riot.im/app/#/group/+decred:decred.org">{{ T "matrix_decred_rooms"  | safeHTML}}</a></p>
            <p>{{ T "matrix_to_browse_other_available_matrix" | safeHTML }}</p>
          </div>
        </div>
      </div>
      <div class="right no-bgimage">
        <div class="right-bg"></div>
        <div class="right-wrapper w-clearfix">
          <div class="slack-join-copy">
            {{ T "matrix_matrix_is_a_secure_open" | safeHTML }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

