// 
// Coverage/release toggle.
// 

.press-toggle label {
  color: rgba($white, 0.75);
  padding: 10px 30px;
  display: inline-block;
}

.press-toggle label:hover {
  cursor: pointer;
}

.press-toggle {
  border: 1px solid #E7EAED;
  border-radius: 5px;
  margin: 25px 0;
  display: table;
  position: relative;
}

@include media-breakpoint-up(lg) {
  .press-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }
}

#releases:checked~div label[for='releases'],
#coverage:checked~div label[for='coverage'] {
  background: #E7EAED;
  color: #091440;
}

.toggleable .press-items {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: none;
  top: 0;
  flex-wrap: nowrap;
}

#releases:checked~div .press__releases,
#coverage:checked~div .press__coverage {
  opacity: 1;
  visibility: visible;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

// 
// Coverage/release list.
// 

.press__coverage-item {
  width: 100%;
  padding: 26px 23px 8px;
  position: relative;
  border-bottom: 1px solid rgba($white, 0.5);
}

.press__coverage-item a {
  text-decoration: none;
}

.press__coverage-item p {
  margin-bottom: 5px;
}

.press__coverage-item img.press-icon {
  float: left;
  margin-right: 34px;
  vertical-align: top;
  margin-bottom: 0;
  height: 30px;
  width: 30px;
}

.press__coverage-item img.press-hover-icon {
  position: absolute;
  top: 30px;
  right: 15px;
  margin-right: 0;
  opacity: 0;
  transition: 0.08s ease-in-out;
}

.press__coverage-item:hover img.press-hover-icon {
  opacity: 1;
}

.press__coverage-wrapper {
  float: left;
  max-width: calc(100% - 80px);
}

.press__title {
  color: rgba($white, 0.75);
  font-size: 19px;
  line-height: 24px;
  transition: 0.08s ease-in-out;
  margin-right: 5px;
}

.press__author {
  color: rgba($white, 0.5);
  font-size: 14px;
  line-height: 24px;
  transition: 0.08s ease-in-out;
  margin-right: 5px;
}

.press__coverage-item:hover .press__title {
  color: rgba($white, 0.95);
}

.press__source,
.press__date {
  color: #8997A5;
  font-size: 11px;
  line-height: 15px;
}


// 
// Single press release article.
// 

.press-release-article {
  line-height: 24px;
  max-width: 680px;
  color: $white;
  margin: auto;
  padding-top: 30px;
  
  .article-date {
    color: rgba($white, 0.55);
  }

  h1 {
    font-size: 26px;
    line-height: 1.25;
    padding: 10px 0;
  }

  p, li {
    color: rgba($white, 0.7);
  }

  strong {
    color: rgba($white, 0.9);
  }

  ul,
  ol {
    margin-left: 22px;
    margin-bottom: 14px;
  }
  
  blockquote {
    color: #2970FF;
    font-size: 22px;
    line-height: 28px;
    font-style: italic;
    border-left: 0;
    padding: 0;
    margin-bottom: 30px;
  }
  
  a {
    color: #2970FF;
    text-decoration: underline;
  }
}
