{{ define "content-top" }}

{{ end }}


{{ define "main" }}

    <div class="full-width">
        <div class="_960">
            <div class="subpage-content__menu">
               <a href="#">WHAT IS DECRED|</a><a href="/adaptability">ADAPTABILITY</a><a href="/security">SECURITY</a><a href="/sustainability">SUSTAINABILITY</a><a href="/history">HISTORY</a>
            </div>
        </div>
        <div class="_960 ">

            <div class="subpage-content-section ex" id="subpages">
                <div class="subpage-content">
                    <div class="subpage-description__heading" translate>
                        <p>Consensus is how distributed parties in a peer-to-peer system 
                        agree on the current state of the network, including the order of transactions and account balances. It is how transactions are validated and new blocks are broadcast to the blockchain, and how trusted third parties and double spending are avoided. 
                        Multiple systems exist to serve this function.</p>
                    </div>

                    <div class="d-flex__text">
                         <div class="subpage-description" translate>
                            <p class="text-block-7">A self-funded launch</p>
                            <p>Digital currencies and open source projects typically fall victim to the
                            tragedy of the commons, where individuals who share a resource act in their own self-interest, depleting or spoiling that resource. Numerous methods have been used to solve the funding issue across the domain, including donation requests that rely on benevolence, founders funds which only last so long, venture capital funding that necessitates a level of centralization, and various forms of the ICO/IEO, which enabled scammers to steal people’s money. All of these methods come with shortcomings, including agency problems, conflicts of interest, and a lack of ongoing funding.</p>

                            <p>Decred has solved the funding problem by directing 10% of every block reward into a Project Treasury. This ongoing solution funds Decred for generations to come. To this point, the Treasury has been managed conservatively with a long term perspective in mind and cognizant of the release of Politeia in 2018, which transitioned sovereignty over funds to those who own and stake Decred. Through Politiea, coin holders who stake Decred will vote on budget and policy and control the direction of the project. In time, all expenses will be automated per stakeholder votes in a functioning Decentralized Autonomous Entity (DAE).</p>
                        </div>
                        <div class="subpage-description r">
                            <img src="/images/Rectangle_2272.jpg" alt="">
                        </div>
                    </div>
                    
                    <div class="d-flex__text">
                        <div class="subpage-description">
                            <img src="/images/Rectangle_2273.jpg" alt="">
                        </div>
                         <div class="subpage-description r" translate>
                            <div>
                                <p class="text-block-7">A new work paradigm</p>
                                <p>The DAE ushers in a new work paradigm, one in which anyone with valuable skills can contribute to the project and be compensated by the stakeholders per proposals and voting in Politeia. In Decred, community members develop, market, and represent Decred, and they are judged on their contributions, typically pseudonymous, not their pedigree of CV. The conventional work world and hierarchical structure goes out the door as contributors are free to work on what they want, when they want.</p>

                                <p>Contributors become contractors when their work is recognized and rewarded by their fellow contractors, and their work is funded by a Politeia proposal.  Most contributors have full time jobs and perform their work with passion in their free time. This enables a risk-minimized on-ramp for people to test the waters before deciding to join Decred as a full-time contractor to leave the legacy corporate world behind.</p>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex__text">
                         <div class="subpage-description" translate>
                            <p class="text-block-7">Contractors and Proposals</p>
                            <p>Decred is a community of self-starters and autonomous workers who excel under uncertainty and know how to chart their own path. They can identify their own skills and examine the current state of Decred within the domains of development, marketing, or community to determine where and how they can contribute. They follow the path laid forth by previous contractors and contribute first. When they are recognized for their good work by other contractors, they too can become a contractor. The first place to explore is the Matrix channel, which is bridged to the other communications platforms.</p>
                        </div>
                        <div class="subpage-description r">
                            <img src="/images/Rectangle_2272.jpg" alt="">
                        </div>
                    </div>

                    <div id="get-into" class="panelSection" style="width: 100%;">
                        <p class="text-block-7">Find out more about</p>

                        <div class="row">

                            <div class="col">
                                <div class="get-into">
                                    <a href="https://www.decred.org/community/">
                                        <div class="get-into__content">
                                            <div class="text-block-9">Self-funding</div>
                                            <div>
                                                <p>Decred has been acknowledged as a leading cryptocurrency project by the Chicago Tribune, Bitcoin Magazine and Nasdaq. Press page is a gallery coverage and releases.</p>
                                                <p class="get-into__link">See decred.org/Self-funding →</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="get-into">
                                    <a href="https://www.decred.org/press/">
                                        <div class="get-into__content">
                                            <div class="text-block-9">Security</div>
                                            <div>
                                                <p>Decred has been acknowledged as a leading cryptocurrency project by the Chicago Tribune, Bitcoin Magazine and Nasdaq. Press page is a gallery coverage and releases.</p>
                                                <p class="get-into__link">See decred.org/Security →</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="get-into">
                                    <a href="https://www.decred.org/press/">
                                        <div class="get-into__content">
                                            <div class="text-block-9">History</div>
                                            <div>
                                                <p>Decred has been acknowledged as a leading cryptocurrency project by the Chicago Tribune, Bitcoin Magazine and Nasdaq. Press page is a gallery coverage and releases.</p>
                                                <p class="get-into__link">See decred.org/History →</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subpage-footer">
        <div class="subpage-footer__content width1100">
            <div><a class="bd-right" href="#">Logo</a> <a class="bd-right" href="#">Press Contacts</a> <a href="#">Liscening Information</a></div>
            <div><a href="#" class="btn">Sign up for Decred Newsletter ›</a></div>
        </div>
    </div>
{{ end  }}


