{{ define "main" }}

    <div class="full-width">
        <div class="_960">
            <div class="print-version">
                <div class="print-pdf">
                    <a class="button news_banner__button play-modal" href="#"
                       target="_blank">
                        <img src="{{ .Site.BaseURL }}/images/play.svg" width="20" height="20" alt="">
                        <span>{{ T "sustainability_playbutton" }}</span>
                    </a>
                </div>
            </div>
            <div class="subpage-content__menu">
               <a href="{{ .Site.BaseURL | absLangURL  }}">{{ T "subpage_nav_whatis" }}|</a><a href="{{ "security/" | relLangURL }}">{{ T "subpage_nav_secure" }}</a><a href="{{ "adaptability/" | relLangURL }}">{{ T "subpage_nav_adaptable" }}</a><a class="active" href="{{ "sustainability/" | relLangURL }}">{{ T "subpage_nav_sustainable" }}</a><a href="{{ "history/" | relLangURL }}">{{ T "subpage_nav_history" }}</a>
            </div>

            <div class="subpage-content-section ex" id="subpages">
                <div class="subpage-content">
                    <div class="subpage-description__heading" translate>
                        <p>{{ T "sustainability_introtext" }}</p>
                    </div>
                    <div class="row margin30">
                        <div class="col-6 img-hidden">
                            <img src="{{ .Site.BaseURL }}/images/sustainability_tradgedy-of-commons.png" alt="">
                        </div>
                        <div class="col-6">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">{{ T "sustainability_01_headline" }}</p>
                                <p>{{ T "sustainability_01_text" }}</p>
                            </div>
                        </div>
                        <div class="col-6 justify-content-end img-visible">
                            <img src="{{ .Site.BaseURL }}/images/sustainability_tradgedy-of-commons.png" alt="">
                        </div>
                    </div>
                    <div class="row margin30">
                        <div class="col-6">  
                            <img src="{{ .Site.BaseURL }}/images/sustainability_decreds-self-funding-solution.png" alt="">
                        </div>
                        <div class="col-6 justify-content-end">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">{{ T "sustainability_02_headline" }}</p>
                                <p>{{ T "sustainability_02_text" }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row margin30">
                        <div class="col-6 img-hidden">
                            <img src="{{ .Site.BaseURL }}/images/sustainability_new-work-paradigm.png" alt="">
                        </div>
                        <div class="col-6">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">{{ T "sustainability_03_headline" }}</p>
                                {{ T "sustainability_03_text" | safeHTML }}
                            </div>
                        </div>
                        <div class="col-6 justify-content-end img-visible">
                            <img src="{{ .Site.BaseURL }}/images/sustainability_new-work-paradigm.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">  
                            <img src="{{ .Site.BaseURL }}/images/sustainability_contractors-and-proposals.png" alt="">
                        </div>
                        <div class="col-6 justify-content-end">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">{{ T "sustainability_04_headline" }}</p>
                                <p>{{ T "sustainability_04_text" }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="subpage-content">
                    <div id="get-into" class="panelSection" style="width: 100%;">
                        <p class="text-block-7">{{ T "footerblocks_headline" }}</p>
                        <div class="row">  
                    {{ partial "subpage-footerblocks-adaptability.html" . }}
                    {{ partial "subpage-footerblocks-security.html" . }}
                    {{ partial "subpage-footerblocks-history.html" . }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ partial "subpage-footer.html" . }}
{{ end  }}


