{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },
  "extends": "airbnb-base",
  "rules": {
    "no-unused-vars": 0,
    "camelcase": 0,
    "prefer-destructuring": 0,
    "new-cap": 0,
    "no-bitwise": 0,
    "no-underscore-dangle": 0,
    "radix": 0,
    "func-names": 0,
    "no-restricted-globals": 0,
    "no-prototype-builtins": 0,
    "eqeqeq": 0,
    "no-plusplus": 0,
    "global-require": 0
  },
  "globals": {
    "Cookies": true,
    "d3pie": true,
    "moment": true,
    "API_ROOT": true,
    "verge": true,
    "platform": true,
    "Clipboard": true,
    "_": true
  }
}
