dist/
src/resources
src/public
src/.hugo_build.lock
src/i18n/*
node_modules/
.DS_Store
*.log

# Ignore all i18n sub-directories apart from en.
src/content/ar
src/content/de
src/content/es
src/content/fa
src/content/ja
src/content/ko
src/content/pl
src/content/pt
src/content/ru
src/content/tr
src/content/zh
