{{ define "page-title" }}
    {{ T "nav_adaptability" }}
{{ end }}

{{ define "main" }}

    <div class="full-width">
        <div class="_960">
            <div class="print-version">
                <div class="print-pdf">
                    <a class="button news_banner__button play-modal" href="#"
                       target="_blank">
                        <img src="{{ .Site.BaseURL }}/images/play.svg" width="20" height="20" alt="">
                        <span>{{ T "adaptability_playbutton" }}</span>
                    </a>
                </div>
            </div>

            {{ partial "breadcrumbs.html" . }}

            <div class="subpage-content-section ex" id="adaptability">
                <div class="subpage-content">
                    <div class="subpage-description__heading" translate>
                        <p>{{ T "adaptability_introtext" }}</p>
                    </div>
                    <div class="row margin30">
                        <div class="col-6 img-hidden">
                            <img src="{{ .Site.BaseURL }}/images/adaptability_no-need-to-fork-off.png" alt="">
                        </div>
                        <div class="col-6">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">{{ T "adaptability_01_headline" }}</p>
                                <p>{{ T "adaptability_01_text" }}</p>
                            </div>
                        </div>
                        <div class="col-6 justify-content-end img-visible">
                            <img src="{{ .Site.BaseURL }}/images/adaptability_no-need-to-fork-off.png" alt="">
                        </div>
                    </div>
                    <div class="row margin30">
                        <div class="col-6">  
                            <img src="{{ .Site.BaseURL }}/images/adaptability_empowering-currency-holders.png" alt="">
                        </div>
                        <div class="col-6 justify-content-end">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">{{ T "adaptability_02_headline" }}</p>
                                {{ T "adaptability_02_text" | safeHTML }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 img-hidden">
                            <img src="{{ .Site.BaseURL }}/images/adaptability_politeia-the-proposal-system.png" alt="">
                        </div>
                        <div class="col-6">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">{{ T "adaptability_03_headline"  }}</p>
                                <p>{{ safeHTML (T "adaptability_03_text") }}</p>
                                <p class="text-block-7">{{ T "adaptability_04_headline" }}</p>
                                <p>{{ T "adaptability_04_text" }}</p>
                            </div>
                        </div>
                        <div class="col-6 justify-content-end img-visible">
                            <img src="{{ .Site.BaseURL }}/images/adaptability_politeia-the-proposal-system.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="subpage-content">
                    <div id="get-into" style="width: 100%;">
                        <p class="text-block-7">{{ T "footerblocks_headline" }}</p>
                        <div class="row"> 
                    {{ partial "subpage-footerblocks-security.html" . }}
                    {{ partial "subpage-footerblocks-sustainability.html" . }}
                    {{ partial "subpage-footerblocks-history.html" . }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end  }}