{{ define "fronta"  }}
<div class="fronta subpage video-header">
    <video autoplay loop muted poster="/videos/headers/adaptability/fallback.jpg">
    </video>
    <div class="_960 subpage-header"><a href="{{ .Site.BaseURL }}" class="subpage-logo w-inline-block"></a></div>
    <div class="_960 subpage-header">
        <div class="subpage-title">{{ T "subpage_nav_adaptable" }}</div>
    </div>
</div>
{{ end }}


{{ define "main" }}

    <div class="full-width">
        <div class="_960">
            <div class="print-version">
                <div class="print-pdf">
                    <a class="button news_banner__button" href="#"
                       target="_blank">
                        <img src="{{ .Site.BaseURL }}/images/play.svg" width="20" height="20" alt="">
                        <span>{{ T "adaptability_playbutton" }}</span>
                    </a>
                </div>
            </div>
            <div class="subpage-content__menu">
               <a href="#">{{ T "subpage_nav_whatis" }}|</a><a class="active" href="{{ "adaptability/" | relLangURL }}">{{ T "subpage_nav_adaptable" }}</a><a href="{{ "security/" | relLangURL }}">{{ T "subpage_nav_secure" }}</a><br><a href="{{ "sustainability/" | relLangURL }}">{{ T "subpage_nav_sustainable" }}</a><a href="{{ "history/" | relLangURL }}">{{ T "subpage_nav_history" }}</a>
            </div>

            <div class="subpage-content-section ex" id="adaptability">
                <div class="subpage-content">
                    <div class="subpage-description__heading" translate>
                        <p>{{ T "adaptability_introtext" }}</p>
                    </div>
                    <div class="row margin30">
                        <div class="col-6 img-hidden">
                            <img src="{{ .Site.BaseURL }}/images/Rectangle_2272.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">{{ T "adaptability_01_headline" }}</p>
                                <p>{{ T "adaptability_01_text" }}</p>
                            </div>
                        </div>
                        <div class="col-6 justify-content-end img-visible">
                            <img src="{{ .Site.BaseURL }}/images/Rectangle_2272.jpg" alt="">
                        </div>
                    </div>
                    <div class="row margin30">
                        <div class="col-6">  
                            <img src="{{ .Site.BaseURL }}/images/Rectangle_2273.jpg" alt="">
                        </div>
                        <div class="col-6 justify-content-end">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">{{ T "adaptability_02_headline" }}</p>
                                <p>{{ T "adaptability_02_textp1" }}</p>

                                <p>{{ T "adaptability_02_textp2" }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 img-hidden">
                            <img src="{{ .Site.BaseURL }}/images/intersection_6.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <div class="subpage-description" translate>
                                <p class="text-block-7">{{ T "adaptability_03_headline"  }}</p>
                                <p>{{ T "adaptability_03_text" }}</p>
                                <p class="text-block-7">{{ T "adaptability_04_headline" }}</p>
                                <p>{{ T "adaptability_04_text" }}</p>
                            </div>
                        </div>
                        <div class="col-6 justify-content-end img-visible">
                            <img src="{{ .Site.BaseURL }}/images/intersection_6.jpg" alt="">
                        </div>
                    </div>
                </div>
                  
                {{ partial "subpage-footerblocks.html" . }}
            </div>
        </div>
    </div>
    {{ partial "subpage-footer.html" . }}
{{ end  }}