{{ define "page-title" }}
   Decred — {{ T "nav_brand_resources" }}
{{ end }}

{{ define "fronta" }}
<div class="brand-fronta g-0">
    <div class="container">
        <div class="logo"></div>
        <div class="slogan">«<span class="fontsemibold">de</span>centralized <span class="fontsemibold">CREDITS</span>»</div>
        <div class="description">{{ safeHTML ( T "brand_guide_0" ) }}</div>
    </div>
</div>
{{ end }}

{{ define "main" }}

<div class="backgroundgray g-0" style="padding-bottom: 65px; padding-top: 100px;">
    <div class="container">
    
        <div>
            <h1 class="colorblue font38" style="font-weight: bold; margin-bottom: 65px; margin-top: 25px;">{{ safeHTML ( T "brand_guide_title" ) }}</h1>
        </div>

        <div class="row py-4">

            <!-- Logo -->
            <div class="col-12 col-md-6 my-4">
                <div class="d-flex flex-column align-items-start">
                    <div class="colorgray font16 margin20">{{ safeHTML ( T "brand_guide_2" ) }}</div>
                    <div class="brand height-122 brand-logo">
                        <div class="w-100 text-center" style="bottom: 0px; position: absolute;">
                            <div class="colorlightblue font12 margin10">png, svg, pdf, ai</div>
                        </div>
                    </div>
                    <a href="https://github.com/decred/dcrdesign/files/2160933/decred.-.logo.package.zip" target="_blank" rel="noopener noreferrer" class="brand-subtext">{{ safeHTML ( T "brand_guide_3" ) }} ↓</a>
                </div>
            </div>
                
            <!-- Typography -->
            <div class="col-12 col-md-6 my-4">
                <div class="d-flex flex-column align-items-start">
                    <div class="colorgray font16 margin20">{{ safeHTML ( T "brand_guide_8" ) }}</div>
                    <div class="row">
                        <div class="d-flex flex-column mb-4 col-12 col-sm-6">
                            <div class="height-122 margin20 ss width-122"></div>
                            <a target="_blank" rel="noopener noreferrer" href="https://github.com/adobe-fonts/source-sans-pro" class="brand-subtext">Source Sans Pro →</a>
                        </div>
                        <div class="d-flex flex-column mb-4 col-12 col-sm-6">
                            <div class="height-122 ii margin20 width-122"></div>
                            <a target="_blank" rel="noopener noreferrer" href="https://fonts.google.com/specimen/Source+Code+Pro" class="brand-subtext">Source Code Pro →</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row py-4">

            <!-- Primary colors -->
            <div class="col-12 col-md-6 my-4">
                <div class="d-flex flex-column align-items-start">
                    <a href="#" class="brand colordarkblue font16 margin20">{{ safeHTML ( T "brand_guide_4" ) }}</a>
                    <div class="row">
                        <div class="col 12 col-xs-6 col-sm-4 align-items-center d-flex flex-column mb-4">
                            <div class="brand copy-color margin20 width-100px">
                                <div class="backgroundroyalblue brand-color"></div>
                                <div class="brand-hex">#2970ff</div>
                            </div>
                            <div class="brand colors font16 dcrwebcode width-100px">{{ safeHTML ( T "brand_guide_5" ) }}</div>
                        </div>
                        <div class="col 12 col-xs-6 col-sm-4 align-items-center d-flex flex-column mb-4">
                            <div class="brand copy-color margin20 width-100px">
                                <div class="backgroundturquoise brand-color"></div>
                                <div class="brand-hex">#2ED6A1</div>
                            </div>
                            <div class="brand colors font16 dcrwebcode width-100px">{{ safeHTML ( T "brand_guide_6" ) }}</div>
                        </div>
                        <div class="col 12 col-xs-6 col-sm-4 align-items-center d-flex flex-column mb-4">
                            <div class="brand copy-color margin20 width-100px">
                                <div class="backgrounddarkblue brand-color"></div>
                                <div class="brand-hex">#091440</div>
                            </div>
                            <div class="brand colors font16 dcrwebcode width-100px">{{ safeHTML ( T "brand_guide_7" ) }}</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Complementary colors -->
            <div class="col-12 col-md-6 my-4">
                <div class="d-flex flex-column align-items-start">
                    <a href="#" class="brand colordarkblue font16 margin20">{{ safeHTML ( T "brand_guide_9" ) }}</a>
                    <div class="row">
                        <div class="col 12 col-xs-6 col-sm-4 align-items-center d-flex flex-column mb-4">
                            <div class="brand copy-color margin20 width-100px">
                                <div class="backgroundcyan brand-color"></div>
                                <div class="brand-hex">#70cbff</div>
                            </div>
                            <div class="brand colors font16 dcrwebcode width-100px">{{ safeHTML ( T "brand_guide_10" ) }}</div>
                        </div>
                        <div class="col 12 col-xs-6 col-sm-4 align-items-center d-flex flex-column mb-4">
                            <div class="brand copy-color margin20 width-100px">
                                <div class="backgroundgreen brand-color"></div>
                                <div class="brand-hex">#41bf53</div>
                            </div>
                            <div class="brand colors font16 dcrwebcode width-100px">{{ safeHTML ( T "brand_guide_11" ) }}</div>
                        </div>
                        <div class="col 12 col-xs-6 col-sm-4 align-items-center d-flex flex-column mb-4">
                            <div class="brand copy-color margin20 width-100px">
                                <div class="backgroundorange brand-color"></div>
                                <div class="brand-hex">#ed6d47</div>
                            </div>
                            <div class="brand colors font16 dcrwebcode width-100px">{{ safeHTML ( T "brand_guide_12" ) }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="backgroundwhite g-0">
    <div class="container">
        <div class="brand-bottom">
            <p class="bottom-paragraph">{{ safeHTML ( T "brand_guide_13" ) }}</p>
            <a class="bottom-link" href="https://github.com/decred/dcrdesign/releases" target="_blank" rel="noopener noreferrer">{{ safeHTML ( T "brand_guide_14" ) }}</a>
        </div>
    </div>
</div>
{{ end }}

