{{ define "content-top" }}

{{ end }}



{{ define "fronta" }}
    <div class="brand fronta">
        <div class="brand front">
            <div class="brand logo"></div>
            <div class="font28 slogan transition">«<span class="fontsemibold">de</span>centralised <span class="fontsemibold">CREDIT</span>»</div>
            <div class="brand description font28" translate><br>{{ .Params.title }}</div>
        </div>
    </div>
{{ end }}

{{ define "main" }}
    <div class="backgroundgray width-full">
        <div class="w-clearfix width860">
            <div class="margin-bottom-60 width-full">
                <h1 class="brand colorblue font38 fontsemibold margin65" translate>Quick-use toolkit</h1>
            </div>
            <div class="right-padding-90 w-clearfix width-half">
                <div class="colorgray font16 margin20" translate>Logo package</div>
                <div class="brand height-122 margin20">
                    <div class="brand width-full">
                        <div class="colorlightblue font12 margin10">png, svg, pdf, ai</div>
                    </div>
                </div><a href="https://github.com/decred/dcrdesign/files/2160933/decred.-.logo.package.zip" target="_blank" rel="noopener noreferrer" class="brand colorblue font16 margin65" translate>Download Logo Package ↓</a><a href="#" class="brand colordarkblue font16 margin20" translate>Primary Colors</a>
                <div class="w-clearfix width-full">
                    <div class="w-clearfix width-third">
                        <div data-hex-code="#2970FF" class="brand copy-color height-160 margin20 width-100">
                            <div class="backgroundroyalblue height-120"></div>
                            <div class="brand colordarkblue font16 inconsolata">#2970ff</div>
                        </div>
                        <div class="brand colors font16 inconsolata width-100" translate>Key blue</div>
                    </div>
                    <div class="w-clearfix width-third">
                        <div data-hex-code="#2ED6A1" class="brand copy-color height-160 margin20 width-100">
                            <div class="backgroundturquoise height-120"></div>
                            <div class="brand colordarkblue font16 inconsolata">#2ED6A1</div>
                        </div>
                        <div class="brand colors font16 inconsolata width-100" translate>Turquiose</div>
                    </div>
                    <div class="w-clearfix width-third">
                        <div data-hex-code="#091440" class="brand copy-color height-160 margin20 width-100">
                            <div class="backgrounddarkblue height-120"></div>
                            <div class="brand colordarkblue font16 inconsolata">#091440</div>
                        </div>
                        <div class="brand colors font16 inconsolata width-100" translate>Dark Blue</div>
                    </div>
                </div>
            </div>
            <div class="left-padding-50 right-padding-40px w-clearfix width-half">
                <div class="colorgray font16 margin20" translate>Typography</div>
                <div class="margin65 w-clearfix width-full">
                    <div class="w-clearfix width-half">
                        <div class="height-122 margin20 ss width-122"></div><a target="_blank" rel="noopener noreferrer" href="https://github.com/adobe-fonts/source-sans-pro" class="brand colorblue font16">Source Sans Pro →</a></div>
                    <div class="w-clearfix width-half">
                        <div class="height-122 ii margin20 width-122"></div><a target="_blank" rel="noopener noreferrer" href="https://fonts.google.com/specimen/Source+Code+Pro" class="brand colorblue font16">Source Code Pro →</a></div>
                </div><a href="#" class="brand colordarkblue font16 margin20" translate>Complimentary Colors</a>
                <div class="w-clearfix width-full">
                    <div class="w-clearfix width-third">
                        <div data-hex-code="#70cbff" class="brand copy-color height-160 margin20 width-100">
                            <div class="backgroundcyan height-120"></div>
                            <div class="brand colordarkblue font16 inconsolata">#70cbff</div>
                        </div>
                        <div class="brand colors font16 inconsolata width-100" translate>Light blue</div>
                    </div>
                    <div class="w-clearfix width-third">
                        <div data-hex-code="#41BF53" class="brand copy-color height-160 margin20 width-100">
                            <div class="backgroundgreen height-120"></div>
                            <div class="brand colordarkblue font16 inconsolata">#41bf53</div>
                        </div>
                        <div class="brand colors font16 inconsolata width-100" translate>Green</div>
                    </div>
                    <div class="w-clearfix width-third">
                        <div data-hex-code="#ed6d47" class="brand copy-color height-160 margin20 width-100">
                            <div class="backgroundorange height-120"></div>
                            <div class="brand colordarkblue font16 inconsolata">#ed6d47</div>
                        </div>
                        <div class="brand colors font16 inconsolata width-100" translate>Orange</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="width-full">
        <div class="w-clearfix width860">
            <div class="w-clearfix width-640">
                <p class="brand colordarkblue font28 margin65">{{ .Content }}</a></div>
        </div>
    </div>
{{ end }}

{{ define "custom-assets" }}
<script src="/js/clipboard.min.js"></script>
{{ end }}