<!DOCTYPE html>
<html lang="{{ or .Params.language .Site.LanguageCode }}" dir="ltr">

  {{ partial "head.html" . }}

  <body class="body">

    {{ if .IsHome }}

        {{ block "content-top" . -}}{{- end }}

        {{ block "fronta" . -}}{{- end }}

        <div class="below">
          {{ block "main" . -}}{{- end }}
          {{ partial "footer.html" . }}
        </div>

    {{ else }}
        {{ block "content-top" . -}}{{- end }}
        {{ block "fronta" . -}}{{- end }}
        <div class="below subpage">
          {{ block "main" . -}}{{- end }}
          {{ partial "footer.html" . }}
        </div>
    {{ end }}



    {{ partial "navbar.html" . }}

    {{ partial "video-modal.html" . }}

    {{ partial "footer-assets.html" . }}

  </body>
</html>
