<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ $.Param "languagedir" | default "ltr" }}">

    <head>
        <meta charset="utf-8">

        <title>{{ block "page-title" . }}{{ end }}</title>
        <meta property="og:title"      content="{{ block "page-title" . }}{{ end }}">
        <meta property="twitter:title" content="{{ block "page-title" . }}{{ end }}">

        <meta name="description"         content='{{ T "description" }}'>
        <meta name="viewport"            content="width=device-width, initial-scale=1">

        <meta property="og:type"         content="website" />
        <meta property="og:url"          content="https://decred.org/" />
        <meta property="og:image"        content="https://decred.org/og-logo.png"/>
        <meta property="og:description"  content="{{ T "description" }}" />
        
        <meta name="twitter:card"        content="summary_large_image"/>
        <meta name="twitter:image"       content="https://decred.org/og-logo.png"/>
        <meta name="twitter:description" content="{{ T "description" }}"/>
      
        <link href="/images/32.png" rel="shortcut icon" type="image/x-icon">
        <link href="/images/256.png" rel="apple-touch-icon">
      
        <!-- Compile and load scss. -->
        {{ $scssOptions := (dict "targetPath" "decred-v6.css" "outputStyle" "compressed" "enableSourceMap" true) }}
        {{ $v6Style := resources.Get "scss/decred-v6.scss" | resources.ToCSS $scssOptions | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $v6Style.Permalink }}" integrity="{{ $v6Style.Data.Integrity }}">

        <!--  Custom favicon  -->
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png?v=yHh3NA">
        <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png?v=yHh3NA" sizes="32x32">
        <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png?v=yHh3NA" sizes="16x16">
        <link rel="manifest" href="/images/favicon/manifest.json?v=yHh3NA">
        <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg?v=yHh3NA" color="#2973ff">
        <link rel="shortcut icon" href="/images/favicon/favicon.ico?v=yHh3NA">
        <meta name="apple-mobile-web-app-title" content="Decred — Money Evolved">
        <meta name="application-name" content="Decred — Money Evolved">
        <meta name="msapplication-TileColor" content="#2973ff">
        <meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png?v=fi5jKKtbwv">
        <meta name="msapplication-config" content="/images/favicon/browserconfig.xml?v=fi5jKKtbwv">
        <meta name="theme-color" content="#ffffff">
      
    </head>

  <body id="top">

    {{ partial "navbar.html" . }}
    
    <div class="navbar-margin">
      {{ block "fronta" . }}
      {{ end }}
  
      {{ block "main" . }}{{ end }}
      
      {{ partial "footer.html" . }}
      
      {{ $jsFiles := slice }}
      {{ range $.Site.Params.js_resources }}
          {{ $jsFiles = $jsFiles | append ( resources.Get . ) }}
      {{ end }}
      {{ $js := $jsFiles | resources.Concat "main.js" | resources.Minify | resources.Fingerprint "sha512" }}
    </div>

    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

  </body>
</html>
