{{ define "content-top" }}{{ end }}



{{ define "fronta" }}

    {{ if .IsHome }}
    {{ $download_links := where (index .Site.Data.wallets.links "decrediton") "is_direct_download" true }}
    <div class="fronta landing video-header">
        <div class="_960 subpage-header"><a href="{{ "/" | relLangURL }}" class="subpage-logo-dark w-inline-block"></a></div>
        <div class="_960 subpage-header">
            <div class="landing-title">{{ T "landing_opener" }}</div>
            <div class="d-flex"> 
                <a class="play-btn play-modal" href="#"><img src="{{ .Site.BaseURL }}/images/play.svg" alt=""><span>{{ T "home_watch_video" }}</span></a>
                <a class="wallet-btn alldl" href="{{ "/wallets/" | relLangURL }}"><img src="{{ .Site.BaseURL }}/images/wallet.svg" alt=""> {{ T "home_download_wallet" }}</a>
                {{ range $download_links }}
                <a class="wallet-btn os-specific {{ .platform }}" href="{{ .url }}"><img src="{{ .Site.BaseURL }}/images/wallet.svg" alt=""> {{ T "home_download_wallet" }}</a>
                <div class="all-downloads os-specific {{ .platform }}">{{ $msg_id := print "home_decrediton_for_" .platform }} {{ T $msg_id  }} <br /><a href="{{ "/wallets/" | relLangURL }}" class="wallet-alld">{{ T "home_all_downloads" }} →</a></div>
                {{ end }}
            </div>
        </div>

        <div class="_960">
            <div class="homepage-ann">
                <!-- When this homepage ann banner is removed, reset css:
                    .below.landing {
                        margin-top: -6rem: 
                    }
                -->
                {{ $annicon := resources.Get "/images/ann.gif" }}
                <div class="homepage-ann-icon" style="background-image:url('{{ $annicon.Permalink }}');">
                </div>
                <div class="rowcol">
                    <div class="homepage-ann-text">
                        <h1>
                            New release available
                        </h1>
                        <p>
                            Use the Lightning Network. Mix your Decred. Vote on a new consensus change. Upgrade to the 1.6 release now.
                        </p>
                    </div>
                    <div>
                        <a class="button" href="{{ "/release/" | relLangURL }}">
                            Find&nbsp;out&nbsp;more
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{ end }}
{{ end }}

{{ define "main" }}

  {{ if .IsHome }}
  <div class="full-width landing-content">
    <div class="_960">
        <div class="landing-content-bg landingbox-secure">
            <div>
                <p class="heading-text-block">{{ T "landing_01_headline" }}</p>
                <p class="landing-text-block">{{ T "landing_01_text"}}</p>
            </div>
            <div class="landing-content-link">
                <a href="{{ "security/" | relLangURL }}">{{ T "landing_01_link1"}} →</a> <a href="https://bounty.decred.org/" target="_blank" rel="noopener noreferrer">{{ T "landing_01_link2"}} →</a> <a href="https://github.com/decred/" target="_blank" rel="noopener noreferrer">{{ T "landing_01_link3"}} →</a>
            </div>
        </div>
        <div class="landing-content-bg landingbox-adaptable">
            <div>
                <p class="heading-text-block">{{ T "landing_02_headline" }}</p>
                <p class="landing-text-block">{{ T "landing_02_text"}} </p>
            </div>
            <div class="landing-content-link">
                <a href="{{ "adaptability/" | relLangURL }}">{{ T "landing_02_link1"}} →</a>
                <a href="https://proposals.decred.org" target="_blank" rel="noopener noreferrer">{{ T "nav_politeia"}} →</a>
                <a href="https://voting.decred.org" target="_blank" rel="noopener noreferrer">{{ T "landing_02_link2"}} →</a>
            </div>
        </div>
        <div class="landing-content-bg landingbox-sustainable">
            <div>
                <p class="heading-text-block">{{ T "landing_03_headline" }}</p>
                <p class="landing-text-block">{{ T "landing_03_text"}}</p>
            </div>
            <div class="landing-content-link">
                <a href="{{ "sustainability/" | relLangURL }}">{{ T "landing_03_link1"}} →</a>
                <a href="https://docs.decred.org/contributing/overview/" target="_blank" rel="noopener noreferrer">{{ T "landing_03_link2"}} →</a>
            </div>
        </div>
        <div class="row">
            <div class="landing-bg landingbox-exchanges">
                <a href="{{ "exchanges/" | relLangURL }}">
                    <div class="landing-bg__content">
                        <p class="landing-heading-block">{{ T "landing_04_link" }} →</p>
                    </div>
                </a>
            </div>
            <div class="landing-bg landingbox-docs">
                <a href="https://docs.decred.org/" target="_blank" rel="noopener noreferrer">
                    <div class="landing-bg__content">
                        <p class="landing-heading-block">{{ T "landing_05_link" }} →</p>
                    </div>
                </a>
            </div>
            <div class="landing-bg landingbox-community">
                <a href="{{ "community/" | relLangURL }}">
                    <div class="landing-bg__content">
                        <p class="landing-heading-block">{{ T "landing_06_link" }} →</p>
                    </div>
                </a>
            </div>
            <div class="landing-bg landingbox-wallets">
                <a href="{{ "wallets/" | relLangURL }}">
                    <div class="landing-bg__content">
                        <p class="landing-heading-block">{{ T "landing_07_link" }} →</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="full-width latest-news">
    <div class="_960">
        <div class="d-flex latest-news__title">
            <p>{{ T "landing_latestnews" }}</p>
            <a href="{{ "press/" | relLangURL }}">{{ T "landing_seemore" }} →</a>
        </div>
        <div class="subpage-content-section">
            <div class="press press__coverage subpage-content w-clearfix active">
                {{ $pressPages := where .Site.RegularPages "Section" "=" "press" }}
                {{ $coveragePages := .Site.Data.press.coverage }}
                {{ $allNews := append $coveragePages $pressPages }}
                {{ $sortedNews := sort $allNews "Params.sortDate" "desc" }}
                {{ partial "press/coverage-list" (first 5 $sortedNews) }}
            </div>
        </div>
    </div>
</div>

  {{ end }}

{{ end }}

