<div class="full-width">
    <div class="_960">
        <div class="subpage-description breadcrumbs">
            <div>
                {{ T "nav_getstarted" }}|
            </div>
            <div>
                <a {{ if eq .Section "wallets" }} class="active" {{end}} href="{{ "wallets/" | relLangURL }}" >{{ T "nav_downloads" }}</a>
                <a href="https://proposals.decred.org" target="_blank" rel="noopener noreferrer" class="external">{{ T "nav_proposals" }}</a>
                <a {{ if eq .Section "vsp" }} class="active" {{end}} href="{{ "vsp/" | relLangURL }}" >{{ T "nav_stakingvoting" }}</a>
                <a {{ if eq .Section "exchanges" }} class="active" {{end}} href="{{ "exchanges/" | relLangURL }}">{{ T "nav_exchanges" }}</a>
                <a href="https://bounty.decred.org/" target="_blank" rel="noopener noreferrer" class="external">{{ T "nav_bugbounty" }}</a>
                <a href="https://dcrdata.decred.org" target="_blank" rel="noopener noreferrer" class="external">{{ T "nav_dcrdata" }}</a>
                <a {{ if eq .Section "community" }} class="active" {{end}} href="{{ "community/" | relLangURL }}" >{{ T "nav_community" }}</a>
            </div>
        </div>
    </div>
</div>
