	<div class="full-width">
        <div class="_960">
            <div class="subpage-description breadcrumbs">
            	{{ T "nav_getstarted" }} |
                <a href="{{ "downloads/" | relLangURL }}" >{{ T "nav_downloads" }}</a>
                <a href="#" class="external" rel="noopener noreferrer" target="_blank">Proposals</a>
                <a href="#" class="external" rel="noopener noreferrer" target="_blank">Staking and voting</a>
                <a href="{{ "exchanges/" | relLangURL }}" class="active">{{ T "nav_exchanges" }}</a>
                <a href="#">Bug bounty</a>
                <a href="#" class="external" rel="noopener noreferrer" target="_blank">Block explorer</a>
                <a href="{{ "community/" | relLangURL }}" >{{ T "nav_community" }}</a>
            </div>
        </div>
    </div>