
{{ $imgPath := path.Join "images/exchanges" .logo_src }}
{{ $logoOriginal := resources.Get $imgPath }}
{{ $imgLg := $logoOriginal.Fit "608x280" }}
{{ $imgSm := $logoOriginal.Fit "500x230" }}

<a id="{{ .name }}" href="{{ .url }}" target="_blank" rel="noopener noreferrer" class="community-card ex w-inline-block">
    <div class="filter-card-image-wrap">
        <img src="{{ $imgLg.RelPermalink }}" srcset="{{ $imgSm.RelPermalink }} 500w,{{ $imgLg.RelPermalink }} 608w"  sizes="(max-width: 767px) 100vw, (max-width: 991px) 229px, 306.65625px" class="filter-card-image" alt=""/>
    </div>
    <div class="filter-card-footer w-clearfix">
        <div class="filter-card-title">{{ .name }}</div>
    </div>
</a>
