


{{ $exchanges := .Site.Data.exchanges.exchanges }}
{{ $payment_providers := .Site.Data.exchanges.payment }}
{{ $tags := .Site.Data.exchanges.tags }}

<div class="subpage-content-header">
    <div class="text-block-5">{{ T "exchanges_subtitle" }}</div>
    <div class="subpage-content-header-footer">
        <div class="subpage-description-wide">
            <span class="modalparagraphbold">{{ T "warning" }}:</span>
            {{ safeHTML (T "exchanges_disclaimer")  }}
        </div>

        <div style="position:relative;">
            <div class="subpage-description ex">{{ T "exchanges_description" }}</div>
            <div class="ex-filter w-clearfix">
                <a href="#" data-group="all" class="filter-button all is-checked w-button">{{ T "exchanges_showall" }}</a>
                {{ range $id, $tag := $tags }}
                    <a href="#"
                       data-tail="{{ $tag.name }}"
                       data-group="{{ $id }}"
                       class="filter-button {{  $id }} w-button"></a>
                {{ end }}
            </div>
        </div>
    </div>
</div>

<div class="subpage-content exchanges">
    <div class="filter-cards-wrap w-clearfix">

    {{ range $exchanges }}
        {{ partial "exchange-card" (dict "exchange" . "allTags" $tags  ) }}
    {{ end }}
    </div>

    <div class="subsection-description w-clearfix">
        <div class="subsection-title">{{ T "exchanges_payment_title" }}</div>
        <div class="subsection-subtitle">{{ T "exchanges_payment_description" }}</div>
    </div>

    {{ range $payment_providers }}
        {{ partial "community-card" . }}
    {{ end }}
</div>




