
{{ $current_release := .Site.Data.current_release }}

<div class="footer">
    <div class="footercolumns width1100">
        <div class="footerrows w-row">
            <div class="footerrowscolumn1 w-col w-col-3 w-col-medium-3"><a href="https://github.com/decred" target="_blank" rel="noopener noreferrer" class="footerblocklinkdev">Decred Developers</a></div>
            <div class="footerrowscolumn1 w-col w-col-3 w-col-medium-3"><a href="/brand/" class="footerblocklink transition" translate>Brand Resources</a><a href="press/" class="footerblocklink transition" translate>Decred in the Press</a><a href="recruiting/" target="_blank" rel="noopener noreferrer" class="footerblocklink transition" translate>Become a Contributor</a></div>
            <div class="footerrowscolumn1 w-col w-col-2 w-col-medium-2"><a href="https://docs.decred.org/research/overview/" target="_blank" rel="noopener noreferrer" class="footerblocklink transition" translate>Technical Overview</a><a href="/business_brief.pdf" target="_blank" rel="noopener noreferrer" class="footerblocklink transition" translate>Business Brief</a><a href="https://blog.decred.org/2018/02/28/2018-Decred-Roadmap/" target="_blank" rel="noopener noreferrer" class="footerblocklink transition" translate>2018 Roadmap</a></div>
            <div class="footerblockstats footerrowscolumn1 w-clearfix w-col w-col-2 w-col-medium-2">
                <div class="footerblockstatsrow w-clearfix"><a id="footerRelease" class="backgroundturquoise borderradius4 dropshadow footerblockstatslink" href="{{ $current_release.release_url }}" target="_blank" rel="noopener noreferrer">{{ $current_release.version }}</a>
                    <div class="footerblockstatsname" translate>stable</div>
                </div>
                <div class="footerblockstatsrow w-clearfix"><a id="footerDownloads" class="backgroundwashedblue borderradius4 dropshadow footerblockstatslink" href="downloads/">52k total</a>
                    <div class="footerblockstatsname" translate>downloads</div>
                </div>
            </div>
            <div class="footerblockicon footerrowscolumn1 w-clearfix w-col w-col-2 w-col-medium-2">
                <a target="_blank" rel="noopener noreferrer" href="https://webchat.freenode.net/?channels=decred&amp;uio=d4" data-label="#decred irc.freenode.net" class="icon irc w-inline-block"></a>
                <a target="_blank" rel="noopener noreferrer" href="https://slack.decred.org/" data-label="slack" class="icon slack w-inline-block"></a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/decred" data-label="github.com/decred" class="github icon w-inline-block"></a>
                <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/decredproject" data-label="twitter.com/decredproject" class="icon twitter w-inline-block"></a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.reddit.com/r/decred/" data-label="reddit.com/r/decred/" class="icon reddit w-inline-block"></a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/decredchannel" data-label="Decred Youtube channel" class="icon w-inline-block youtube"></a>
                <a target="_blank" rel="noopener noreferrer" href="https://medium.com/decred" data-label="Decred Medium" class="icon w-inline-block medium"></a>
                <span class="footer-social-media-localized" translate>
                     <!-- localized footer social media links -->
                </span>
                <div class="backgroundlightblue borderradius4 colorblue dropshadow font12 footerblockindicator opacity000 transition">twitter.com/decredproject</div>
            </div>
        </div>
    </div>
</div>


