<script src="/js/jquery.min.js"></script>
<script src="/js/decred-v5.js"></script>
<script src="/js/pts.min.js"></script>
<script src="/js/verge.min.js"></script>
<script src="/js/underscore.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/anime.min.js"></script>
<script src="/js/platform.min.js"></script>
<script src="/js/main.js"></script>
<style>
    .text a,
    .text a:active,
    .text a:focus {
        color: #69d3f5 !important;
        text-decoration: none !important;
    }
    .text a:hover {
        text-decoration: underline !important;
    }
</style>
