<div class="lang-menu w-clearfix">
    <div class="lang-current">Lang</div>
    <div class="lang-select" id="language-selector">
        <div class="lang-selection" data-language="en">ENG</div>
        <div class="lang-selection" data-language="zh">中文</div>
        <div class="lang-selection" data-language="ko">한국어‎‎</div>
        <div class="lang-selection" data-language="ja">日本語</div>
        <div class="lang-selection" data-language="pt">POR</div>
        <div class="lang-selection" data-language="ru">RUS</div>
        <div class="lang-selection" data-language="tr">TUR</div>
        <div class="lang-selection" data-language="fa">فارسی</div>
        <div class="lang-selection" data-language="ar">العَرَبِيَّة‎‎</div>
        <!-- <div class="lang-selection" data-language="nl">Nederlands</div> -->
        <!-- <div class="lang-selection" data-language="it">Italiano</div> -->
        <!-- <div class="lang-selection" data-language="fi">Suomi</div> -->
        <div class="lang-selection" data-language="es">SPA</div>
        <!-- <div class="lang-selection" data-language="el">Ελληνικά</div> -->
        <div class="lang-selection" data-language="de">GER</div>
        <div class="lang-selection" data-language="pl">POL</div>
        <!-- <div class="lang-selection" data-language="fr">Français</div> -->
    </div>
</div>
