<div class="_960">
    <label for="offcanvas" class="toggler">
    <div class="navigation w-clearfix">
        <input type="checkbox" id="offcanvas" class="toggle" style="display: none" />
        <div class="navigation-button">
            <div class="nav-open-close"></div>
        </div>

        {{ if .IsHome }}
            {{ partial "lang-selector.html" . }}
        {{ end }}
        
        <div class="link-section">
            <div class="navigation-top">
                <div class="nav-links-wrap w-clearfix">
                    <nav id="menu">
                        <ul class="parent-menu">
                            <li>
                                <a href="#" class="navigation-link">Intro</a>
                            </li>
                            <li><a href="#" class="navigation-link">What is Decred →</a>
                                <ul>
                                    <li><a href="#" class="navigation-link">Security</a></li>
                                    <li><a href="#" class="navigation-link">Adaptability</a></li>
                                    <li><a href="#" class="navigation-link">Funding and Work</a></li>
                                    <li><a href="#" class="navigation-link">Past and Future</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="navigation-link">Get Started →</a>
                                <ul>
                                    <li><a href="{{ "downloads/" | relLangURL }}" class="navigation-link">{{ T "nav_downloads" }}</a></li>
                                    <li><a href="#" class="navigation-link external" rel="noopener noreferrer" target="_blank">Proposals</a></li>
                                    <li><a href="#" class="navigation-link external" rel="noopener noreferrer" target="_blank">Staking and voting</a></li>
                                    <li><a href="{{ "exchanges/" | relLangURL }}" class="navigation-link active">{{ T "nav_exchanges" }}</a></li>
                                    <li><a href="#" class="navigation-link">Bug bounty</a></li>
                                    <li><a href="#" class="navigation-link external" rel="noopener noreferrer" target="_blank">Block explorer</a></li>
                                    <li><a href="{{ "community/" | relLangURL }}" class="navigation-link">{{ T "nav_community" }}</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="navigation-link">Insights and Resources →</a>
                                <ul>
                                    <li><a href="#" class="navigation-link">Business Brief</a></li>
                                    <li><a href="#" class="navigation-link">Contributors</a></li>
                                    <li><a href="#" class="navigation-link external">Documentation</a></li>
                                    <li><a href="#" class="navigation-link">Development</a></li>
                                    <li><a href="#" class="navigation-link">Design and Brand</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="navigation-link">News and Posts</a></li>
                        </ul>
                    </nav> 
                </div>
            </div>
            <div class="navigation-bottom">
                <div class="nav-social w-clearfix">
                    <div class="w-row mb-33">
                        <div class="w-col w-col-12">
                            <div class="navigation-bottom__heading">{{ T "nav_community" }}</div>
                        </div>
                        <div class="w-col w-col-6 w-col-small-6">
                            <a href="https://decred.org/matrix/" class="nav-matrix-white nav-social-link w-inline-block"></a>
                            <a href="#" class="nav-link nav-social-link w-inline-block"></a>
                            <a href="https://slack.decred.org/" class="nav-slack-white nav-social-link w-inline-block"></a><br>
                            <p class="nav-text">Join the Chat</p>
                        </div>
                        <div class="w-col w-col-6 w-col-small-6">
                            <a target="_blank" rel="noopener noreferrer" href="https://github.com/decred" class="nav-github-white nav-social-link w-inline-block"></a><br>
                            <p class="nav-text">Contribute to our Repos</p>
                        </div>
                    </div>
                    
                    <div class="w-row">
                        <div class="w-col w-col-12 w-col-small-12">
                            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/decredproject" class="nav-social-link nav-twitter-white w-inline-block"></a>
                            <a href="https://www.reddit.com/r/decred/" target="_blank" rel="noopener noreferrer" class="nav-reddit-white nav-social-link w-inline-block"></a>
                            <a href="https://medium.com/decred" target="_blank" rel="noopener noreferrer" class="nav-m-white nav-social-link w-inline-block"></a>
                            <a href="#" target="_blank" rel="noopener noreferrer" class="nav-facebook-white nav-social-link w-inline-block"></a>
                            <a href="https://www.youtube.com/decredchannel" target="_blank" rel="noopener noreferrer" class="nav-social-link nav-youtube-white w-inline-block"></a>
                            <a href="#" target="_blank" rel="noopener noreferrer" class="nav-linkedin-white nav-social-link w-inline-block"></a>
                            <a href="#" target="_blank" rel="noopener noreferrer" class="nav-telegram-white nav-social-link w-inline-block"></a>
                            <a href="#" target="_blank" rel="noopener noreferrer" class="nav-irc-white nav-social-link w-inline-block"></a>
                            <a href="https://discordapp.com/invite/GJ2GXfz" class="nav-discord-white nav-social-link w-inline-block"></a>
                            <a href="#" target="_blank" rel="noopener noreferrer" class="nav-talk-white nav-social-link w-inline-block"></a>
                            <a href="#" target="_blank" rel="noopener noreferrer" class="nav-social-link nav-forum-white w-inline-block"></a>
                            <a href="#" target="_blank" rel="noopener noreferrer" class="nav-social-link nav-x-white w-inline-block"></a>
                            
                            <br>
                            <p class="nav-text">Explore the Community Platforms</p>
                        </div>
                    </div>
                    <div class="nav-social-localized" translate>
                        <!-- localized social media links -->
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    </label>
</div>
