

{{range where .Site.Pages "Section" "=" "press"}}
    {{ if ne .Params.title nil }}
    <div class="press__coverage-item press__releases-item">
        <img class="press__coverage-icon" src="/images/press-release-icon.svg" width="30">

        <div class="press__coverage-wrapper">
            <p><span class="press__title">{{ .Params.title }}</span></p>
            <p class="press__date">{{ .PublishDate.Format "January 2, 2006" }}</p>
        </div>
        <img class="press__releases-arrow" src="/images/press-releases-arrow.svg" width="10" alt=""/>
    </div>
    <div class="press__releases-content">
        <div class="press__releases-content-wrapper">
            {{ .Content }}
        </div>
    </div>
    {{ end }}
{{ end }}
