<div class="video-modal">
    <div class="video-modal-wrapper">
        <div class="w-embed w-script">
            <link href="/css/mediaelementplayer.css" rel="stylesheet" type="text/css">
            <link href="/css/mediaplayer-custom.css" rel="stylesheet" type="text/css">
            <script src="/js/mediaelement-and-player.js"></script>
            <script src="/js/mediaelement.js"></script>
            <video id="player1" class="video-stream" poster="/images/video_preview_img.svg" preload="none" controls="controls" data-youtube-id="GAMp5V_gG1E" src="https://www.youtube.com/watch?v=GAMp5V_gG1E&html5=True"></video>
        </div>
    </div>
</div>
