

{{ define "main" }}
    <div class="full-width">
        <div class="_960">
            <div class="subpage-content-section ex roadmap-container">
                <div class="subpage-content-header">
                    <div class="subpage-description ex">{{ .Content }}</div>
                    <div class="subpage-content-header-footer">
                        <div class="roadmap__filter-legend">
                            {{ range .Params.filters }}
                                <p data-group="{{ .id }}" class="roadmap__filter-legend-item {{ .id }} {{ if eq .is_checked true }}is-checked{{ end }}">0</p>
                            {{ end }}
                        </div>
                        <div class="ex-filter roadmap__filter">
                            {{ range .Params.filters }}
                                <a href="#" data-group="{{ .id }}" class="filter-button {{ .id }} w-button {{ if eq .is_checked true }}is-checked{{ end }}"><span>{{ .name }}</span></a>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="subpage-content roadmap">
                    <div class="filter-cards-wrap filter-cards-wrap--roadmap w-clearfix">
                        {{ range .Params.items }}
                        <div data-groups="[&quot;{{ .tags }}&quot;]" class="filter-card filter-{{ .tags }} w-inline-block">
                            <div class="filter-card-footer w-clearfix">
                                <img src="/images/{{ .image }}" class="roadmap__image">
                                <p class="roadmap__card-title">{{ .title }}</p>
                                <p class="roadmap__addition-date">{{ .date }}</p>
                                <p class="roadmap__description">{{ .description }}</p>
                                <a class="roadmap__more-link" href="{{ .link }}">More Information →</a>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>

        </div>
    </div>
{{ end }}

{{ define "custom-assets" }}
<script src="/js/pts5.js"></script>
<script src="/js/jquery.shuffle.js"></script>
<script src="/js/main-ex.js"></script>
{{ end }}