{{ define "page-title" }}
    <title>Decred - {{ T "nav_roadmap" }}</title>
    <meta content="Decred - {{ T "nav_roadmap" }}" property="og:title">
{{ end }}

{{ define "main" }}

    {{ $items := .Site.Data.roadmap }}

    <div class="full-width">
        <div class="_960">
            <div class="subpage-content-section ex roadmap-container">
                <div class="subpage-content-header">
                    <div class="subpage-description ex">
                        <div class="text-block-5">{{ T "roadmap_tag_subtitle" }}</div>
                        {{ T "roadmap_description" }}
                    </div>
                    <div class="subpage-content-header-footer">
                        <div class="roadmap__filter-legend">
                            <p data-group="new" class="roadmap__filter-legend-item new is-checked">0</p>
                            <p data-group="ongoing" class="roadmap__filter-legend-item ongoing">0</p>
                            <p data-group="completed" class="roadmap__filter-legend-item completed">0</p>
                        </div>
                        <div class="ex-filter roadmap__filter">
                            <a href="#" data-group="new" class="filter-button new w-button is-checked">{{ T "roadmap_tag_new" }}</a>
                            <a href="#" data-group="ongoing" class="filter-button new w-button">{{ T "roadmap_tag_ongoing" }}</a>
                            <a href="#" data-group="completed" class="filter-button new w-button">{{ T "roadmap_tag_completed" }}</a>
                        </div>
                    </div>
                </div>
                <div class="subpage-content roadmap">
                    <div class="filter-cards-wrap filter-cards-wrap--roadmap w-clearfix">
                        {{ range $items }}
                        <div data-groups="[&quot;{{ .tags }}&quot;]" class="filter-card filter-{{ .tags }} w-inline-block">
                            <div class="filter-card-footer w-clearfix">
                                <img src="{{ .Site.BaseURL }}/images/{{ .image }}" class="roadmap__image" alt=""/>
                                <p class="roadmap__card-title">{{ .title }}</p>
                                <p class="roadmap__addition-date">{{ .date }}</p>
                                <p class="roadmap__description">{{ .description }}</p>
                                <a class="roadmap__more-link" href="{{ .link }}">{{ T "roadmap_moreinfo" }} →</a>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>

        </div>
    </div>
{{ end }}

