{{ define "page-title" }}
    <title>Decred - {{ T "nav_vsp" }}</title>
    <meta content="Decred - {{ T "nav_vsp" }}" property="og:title">
{{ end }}

{{ define "main" }}

<div class="full-width">
    <div class="_960">
        <div class="subpage-content-section">
                {{ partial "breadcrumbs_getstarted.html" . }}
                <div class="vsp-description">
                    {{ safeHTML (T "stakepools_description")  }}
                    <noscript>
                        <div>
                            {{ range .Site.Data.stakepools.stakepools }}
                                <a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ .name }}</a><br/>
                            {{ end }}
                        </div>
                        <div class="subpage-description">{{ T "general_javascript_warning" }}</div>
                        <div class="subpage-content">{{ T "general_javascript_warning_description" }}</div>
                    </noscript>
                </div>

                <div class="subpage-content w-clearfix">
                    <div id="stakepool-data" class="stakepool-data"></div>
                    <div class="modalparagraph left" >{{ safeHTML (T "stakepools_warning_1") }}</div>
                    <div class="modalparagraph right">{{ safeHTML (T "stakepools_warning_2") }}</div>
                </div>
                <div class="subpage-content w-clearfix">
                    <div class="modalparagraph left" >{{ safeHTML (T "stakepools_get_listed")}}</div>
                </div>
            </div>
        </div>
    </div>
{{end}}
