{{ define "page-title" }}
   Decred — {{ T "nav_vsp" }}
{{ end }}

{{ define "fronta" }}
{{ end }}

{{ define "main" }}
<div class="subpage-padding body-gradient g-0">
    <div class="container">

        <div class="subpage-header">
            <div class="subpage-title">{{ T "nav_vsp" }}</div>
        </div>

        <div class="subpage-paragraph">
            {{ safeHTML (T "stakepools_description")  }}
            <noscript>
                <div class="javascript-warning">
                    <div>{{ T "general_javascript_warning" }}</div>
                    <div>{{ T "general_javascript_warning_description" }}</div>
                </div>
            </noscript>
        </div>

        <div id="vspd-data" class="stakepool-data"></div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="warning">
                    <span class="orange">{{ T "notice" }}:</span>
                    {{ T "stakepools_warning_1" }}
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="warning">
                    <span class="orange">{{ T "warning" }}:</span>
                    {{ T "stakepools_warning_2" }}
                </div>
            </div>
        </div>
        
    </div>
</div>
{{end}}
