{{range where .Site.RegularPages "Section" "=" "press"}}
    <div class="press__coverage-item press__releases-item">
        <a href="{{ .Permalink }}" rel="noopener noreferrer">
            <img class="press__coverage-icon" src="{{ .Site.BaseURL }}/images/press-coverage/{{ .Params.icon }}" width="30" alt=""/>
    
            <div class="press__coverage-wrapper">
                <p><span class="press__title">{{ .Params.title }}</span></p>
                <p class="press__date">{{ .PublishDate.Format "January 2, 2006" }}</p>
            </div>
        </a>
    </div>
{{ end }}
