

{{ define "content-top" }}
<div class="preload-on-background subpage"></div>
<div class="team-data-balloon">
    <div class="data-balloon-top">Corporate Contractor</div>
    <div class="data-balloon-bottom">Company Zero LLC</div>
</div>
{{ end }}



{{ define "main" }}
    <div class="full-width">
        <div class="_960">
            <div class="subpage-content-section">
                <div class="subpage-description">{{ .Content }}</div>
                <div class="subpage-content">

                    <div class="team-filter">
                        {{ range .Params.teams }}
                            <a href="#" data-filter="{{ .id }}" class="active team-filter-button w-button">{{ .name }}</a>
                        {{ end }}
                    </div>

                    <div class="team-members w-clearfix hidden">
                        {{ partial "contributor-grid" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}