

{{ define "content-top" }}
<div class="preload-on-background subpage"></div>
<div class="team-data-balloon">
    <div class="data-balloon-top">Corporate Contractor</div>
    <div class="data-balloon-bottom">Company Zero LLC</div>
</div>
{{ end }}

{{ define "main" }}
    <div class="full-width">
        <div class="_960">
            <div class="subpage-content-section">
                <div class="subpage-description" translate>{{ .Content }}</div>
                <div class="subpage-content community">
                    {{ partial "community-grid" . }}
                </div>
            </div>
        </div>
    </div>
{{end}}