@font-face {
    font-family: "dcrweb-code";
    src:
        url("../fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf.woff2") format("woff2"),
        url("../fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf.woff")  format("woff"),
        url("../fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf")       format("truetype"),
        url("../fonts/SourceCodePro-Regular/SourceCodePro-Regular.eot")       format("embedded-opentype");
}

@font-face {
    font-family: "dcrweb";
    src:
        url("../fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf.woff2") format("woff2"),
        url("../fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf.woff") format("woff"),
        url("../fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf") format("truetype"),
        url("../fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot") format("embedded-opentype");
}

@font-face {
    font-family: "dcrweb";
    src:
        url("../fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf.woff2") format("woff2"),
        url("../fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf.woff") format("woff"),
        url("../fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf") format("truetype"),
        url("../fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.eot") format("embedded-opentype");
    font-weight: bold;
}

@font-face {
    font-family: "dcrweb";
    src:
        url("../fonts/SourceSansPro-It/SourceSansPro-It.ttf.woff2") format("woff2"),
        url("../fonts/SourceSansPro-It/SourceSansPro-It.ttf.woff") format("woff"),
        url("../fonts/SourceSansPro-It/SourceSansPro-It.ttf") format("truetype"),
        url("../fonts/SourceSansPro-It/SourceSansPro-It.eot") format("embedded-opentype");
    font-style : italic;
}

@font-face {
    font-family: "dcrweb";
    src:
        url("../fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf.woff2") format("woff2"),
        url("../fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf.woff") format("woff"),
        url("../fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf") format("truetype"),
        url("../fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.eot") format("embedded-opentype");
    font-style : italic;
    font-weight: bold;   
}

html, body {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "dcrweb", "Verdana", "sans-serif" !important;
}

pre, code {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "dcrweb-code", "Courier New", "monospace" !important;
}
