{{ range .items }}
    <div class="news-item {{ $.filterCategory }}" style="order: {{ (.Params.sortDate | time.AsTime).Unix }}">
        <a href="{{ .Permalink }}" {{ if not .Page }} target="_blank" {{ end }} rel="noopener noreferrer">
            <img class="news-icon" src="{{ .Site.BaseURL }}/images/news-icons/{{ .Params.icon }}" width="30" alt="" />

            <div class="news-item-wrapper">
                <p>
                    <span class="news-item-title">{{ .Title }}</span>
                    {{ if .Params.outlet }}
                        <span class="news-source"> ({{ .Params.outlet }})</span>
                    {{ end }}
                </p>
                {{ if .Params.author }}
                    <p class="news-author">{{ .Params.author }}</p>
                {{ end }}
                <p class="news-date">{{ dateFormat "January 2, 2006" .Params.sortDate }}</p>
            </div>

            {{ if not .Page }}
                <img class="news-external-link" src="{{ .Site.BaseURL }}/images/external-link.svg" width="16" alt="" />
            {{ end }}

        </a>
    </div>
{{ end }}
