<div class="subpage-content__principles">
    <div class="_960">
        <div class="row">
            
            <input class="w-hidden" type="radio" id="principle1" name="subpage_toggler" checked />
            <input class="w-hidden" type="radio" id="principle2" name="subpage_toggler" />
            <input class="w-hidden" type="radio" id="principle3" name="subpage_toggler" />
            <input class="w-hidden" type="radio" id="principle4" name="subpage_toggler" />
            <input class="w-hidden" type="radio" id="principle5" name="subpage_toggler" />
            <input class="w-hidden" type="radio" id="principle6" name="subpage_toggler" />
            
            <div class="col-8">
                <p class="text-block-7">{{ T "history_principles_headline" }}</p>
                <div class="row">
                    <div class="col-6x">
                        <div class="history-principles">
                            <label for="principle1">
                            </label>
                            <p class="text-size--10">01</p>
                            <p class="text-size--12">{{ T "history_principles_01" }}</p>
                        </div>
                    </div>
                    <div class="col-6x">
                        <div class="history-principles">
                            <label for="principle2">
                            </label>
                            <p class="text-size--10">02</p>
                            <p class="text-size--12">{{ T "history_principles_02" }}</p>
                        </div>
                    </div>
                    <div class="col-6x">
                        <div class="history-principles">
                            <label for="principle3">
                            </label>
                            <p class="text-size--10">03</p>
                            <p class="text-size--12">{{ T "history_principles_03" }}</p>
                        </div>
                    </div>
                    <div class="col-6x">
                        <div class="history-principles">
                            <label for="principle4">
                            </label>
                            <p class="text-size--10">04</p>
                            <p class="text-size--12">{{ T "history_principles_04" }}</p>
                        </div>
                    </div>
                    <div class="col-6x">
                        <div class="history-principles">
                            <label for="principle5">
                            </label>
                            <p class="text-size--10">05</p>
                            <p class="text-size--12">{{ T "history_principles_05" }}</p>
                        </div>
                    </div>
                    <div class="col-6x">
                        <div class="history-principles">
                            <label for="principle6">
                            </label>
                            <p class="text-size--10">06</p>
                            <p class="text-size--12">{{ T "history_principles_06" }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4x">
                <div class="history-slides-nest">
                <div class="history-slide principle1">
                    
                    <noscript>
                        <img src="{{ .Site.BaseURL }}/images/principles_opensourceSoftware.svg" class="history-slide-icon" alt="">
                    </noscript>
                    {{ $opensourceSoftware := resources.Get "/lottie/principles_opensourceSoftware.json" }}
                    <lottie-player background="transparent" speed="1" autoplay loop mode="normal" style="margin-top: 15px; width: 200px;"
                        src="{{ $opensourceSoftware.Permalink }}"></lottie-player>
                    <p class="text-size--22">{{ T "home_principles_free"  | safeHTML }}</p>
                </div>
                <div class="history-slide principle2">
                    <noscript>
                        <img src="{{ .Site.BaseURL }}/images/principles_freespeech.svg" class="history-slide-icon" alt="">
                    </noscript>
                    {{ $freespeech := resources.Get "/lottie/principles_freespeech.json" }}
                    <lottie-player background="transparent" speed="1" autoplay loop mode="normal" style="margin-top: 15px; width: 200px;"
                        src="{{ $freespeech.Permalink }}"></lottie-player>
                    <p class="text-size--22">{{ T "home_principles_everyone" | safeHTML  }}</p>
                </div>
                <div class="history-slide principle3">
                    <noscript>
                        <img src="{{ .Site.BaseURL }}/images/principles_multistakeholderInclusivity.svg" class="history-slide-icon" alt="">
                    </noscript>
                    {{ $multistakeholderInclusivity := resources.Get "/lottie/principles_multistakeholderInclusivity.json" }}
                    <lottie-player background="transparent" speed="1" autoplay loop mode="normal" style="margin-top: 15px; width: 200px;"
                        src="{{ $multistakeholderInclusivity.Permalink }}"></lottie-player>
                    <p class="text-size--22">{{ T "home_principles_inclusivity" | safeHTML  }}</p>
                </div>
                <div class="history-slide principle4">
                    <noscript>
                        <img src="{{ .Site.BaseURL }}/images/principles_privacySecurity.svg" class="history-slide-icon" alt="">
                    </noscript>
                    {{ $privacySecurity := resources.Get "/lottie/principles_privacySecurity.json" }}
                    <lottie-player background="transparent" speed="1" autoplay loop mode="normal" style="margin-top: 15px; width: 200px;"
                        src="{{ $privacySecurity.Permalink }}"></lottie-player>

                    <p class="text-size--22">{{ T "home_principles_privacy" | safeHTML  }}</p>
                </div>
                <div class="history-slide principle5">
                    <noscript>
                        <img src="{{ .Site.BaseURL }}/images/principles_fixedfiniteSupply.svg" class="history-slide-icon" alt="">
                    </noscript>
                    {{ $fixedfiniteSupply := resources.Get "/lottie/principles_fixedfiniteSupply.json" }}
                    <lottie-player background="transparent" speed="1" autoplay loop mode="normal" style="margin-top: 15px; width: 200px;"
                        src="{{ $fixedfiniteSupply.Permalink }}"></lottie-player>
                    <p class="text-size--22">{{ T "home_principles_supply" | safeHTML  }}</p>
                </div>
                <div class="history-slide principle6">
                    <noscript>
                        <img src="{{ .Site.BaseURL }}/images/principles_universalFungibility.svg" class="history-slide-icon" alt="">
                    </noscript>
                    {{ $universalFungibility := resources.Get "/lottie/principles_universalFungibility.json" }}
                    <lottie-player background="transparent" speed="1" autoplay loop mode="normal" style="margin-top: 15px; width: 200px;"
                        src="{{ $universalFungibility.Permalink }}"></lottie-player>
                    <p class="text-size--22">{{ T "home_principles_fungibility" | safeHTML }}</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
