<div class="_960 ">
    <div class="subpage-content-section ex" style="padding-bottom: 50px;">
        <div class="subpage-content">
            <div class="subpage-description" style="width: 100%; margin-bottom: 0;" translate>
                <p class="text-block-7">{{ T "history_timeline" }}</p>
                <div class="timeline">
                    <table>
                        {{ partial "history/timeline-list" . }}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>