{{ define "page-title" }}
    <title>Decred - {{ T "nav_press" }}</title>
    <meta content="Decred - {{ T "nav_press" }}" property="og:title">
{{ end }}

{{ define "main" }}
    <div class="full-width">
        <div class="_960">
            <div class="subpage-description">{{ T "press_description" | safeHTML }}</div>
            <div class="subpage__toggle">
                <a data-toggle="press__coverage" class="active">{{ T "press_coverage" }}</a>
                <a data-toggle="press__releases">{{ T "press_releases" }}</a>
            </div>
        </div>
    </div>

    <div class="full-width press__wrapper">
        <div class="_960">
            <div class="subpage-content-section toggleable">
                <div class="press press__coverage subpage-content w-clearfix active">
                    {{ partial "press/coverage-list" .Site.Data.press.coverage }}
                </div>

                <div class="press press__releases subpage-content w-clearfix">
                    {{ partial "press/release-list" . }}
                </div>
            </div>
        </div>
    </div>
{{end}}