{{ define "page-title" }}
   {{ .Title }}
{{ end }}

{{ define "header" }}
   Press Release
{{ end }}

{{ define "main" }}

    <div class="full-width">
        <div class="_960 ">
            <div class="subpage-content-section ex">
                <div class="press__releases-content">
                    <h1>{{ .Title }}</h1>
                    <p>{{ dateFormat "January 2, 2006" .Date }}</p>
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>

{{ end }}
