Options +MultiViews
DirectoryIndex index.html index.php

AddLanguage ca .ca
AddLanguage cs .cz .cs
AddLanguage da .dk
AddLanguage de .de
AddLanguage el .el
AddLanguage en .en
AddLanguage eo .eo
AddLanguage es .es
AddLanguage et .et
AddLanguage fr .fr
AddLanguage he .he
AddLanguage hu .hu
AddLanguage hr .hr
AddLanguage it .it
AddLanguage ja .ja
AddLanguage ko .ko
AddLanguage ltz .ltz
AddLanguage nl .nl
AddLanguage nn .nn
AddLanguage no .no
AddLanguage pl .po
AddLanguage pt .pt
AddLanguage pt-BR .pt-br
AddLanguage hu .ru
AddLanguage sv .sv
AddLanguage tr .tr
AddLanguage zh-CN .zh-cn
AddLanguage zh-TW .zh-tw

LanguagePriority en ca cs da de el eo es et fr he hr it ja ko ltz nl nn no pl pt pt-BR hu sv tr zh-CN zh-TW
ForceLanguagePriority Prefer Fallback

# the below rules implement content negotiation to serve the
# language specific subdirectory
RewriteEngine on

# keep API urls intact
RedirectMatch ^/api/(.*) https://api.decred.org/$1

# prevent redirect loops
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule .* - [L]

# if the request URI contains lang code, serve up as-is
# this is for search engines/SEO
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/([a-z]{2})/
RewriteRule .* - [L]

# rewrite the request to https://www.decred.org/ to decred.org/<lang_code>/
# first looks at the 'lang' cookie (set by the language chooser)
# falls back to first language in the Accept-Language header
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} /$
RewriteCond %{HTTP_COOKIE} ;?lang=([a-z]{2,3})[-,;]? [OR]
RewriteCond %{HTTP:Accept-Language} ^([a-z]{2,3})[-,;]? [OR]
RewriteCond en (en)
RewriteRule ^(.*)$ "${languagemap:%1|en}/$1" [QSA,L]
