{{ define "page-title" }}{{ T "title" }} - {{ T "menuitem2" | safeHTML }}{{ end }}

{{ define "main" }}
<div class="walletbanner exchangebg">
    <div dir="ltr" class="container mx-auto flex flex-wrap items-center pt-[84px] px-4">
        <div class="hidden lg:block w-full lg:w-1/3"></div>
        <div class="w-full lg:w-2/3">
            <div class="box flex flex-col items-center justify-center">
                <div class="my-10"><img src="{{ "/images/walletsbannericon.png" | relURL }}" alt="" class="rotate-180" /></div>
                <div class="dm-serif-text-regular text-center text-[var(--brand-200)] text-3xl xl:text-5xl"><span class="text-xl xl:text-3xl block mb-3 xl:mb-6">{{ T "exchangesbanner1" | safeHTML }}</span> <span class="uppercase">{{ T "exchangesbanner2" | safeHTML }}</span></div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->
<div dir="ltr" class="flex border-b border-[var(--brand-500)] rounded-full mx-auto px-8 py-3 w-max text-2xl text-[var(--brand-300)] dm-serif-text-regular">
    <span>{{ T "exchangesbanner3" | safeHTML }}</span>
    <img src="{{ "/images/step1.png" | relURL }}" alt="Step1" class="ml-4 rotate-180" />
</div>
<!-- sticky progress end -->
<div class="contentcover" style="margin-top: 0px;">
  <!-- sec 3 -->
  <div class="max-w-7xl mx-auto relative z-10 md:py-20">
    <div class="midsection">
      <h2 class="text-2xl lg:text-5xl text-gray-200 mb-12">{{ T "exchangessec3title" | safeHTML }}</h2>
      <p class="mb-20 text-2xl font-bold text-[var(--brand-200)]">{{ T "exchangessec3text1" | safeHTML }}</p>
      <div class="grid grid-cols-2 sm:grid-cols-3 gap-4 w-full mb-20">
        <div><a href="https://www.binance.com/" target="_blank" rel="noopener noreferrer" class="exchanetag">Binance</a></div>
        <div><a href="https://www.htx.com/" target="_blank" rel="noopener noreferrer" class="exchanetag">HTX</a></div>
        <div><a href="https://www.mexc.com/exchange/DCR_USDT" target="_blank" rel="noopener noreferrer" class="exchanetag">MEXC</a></div>
        <div><a href="https://www.gate.io/" target="_blank" rel="noopener noreferrer" class="exchanetag">Gate.io</a></div>
        <div><a href="https://kucoin.com/" target="_blank" rel="noopener noreferrer" class="exchanetag">KuCoin</a></div>
        <div><a href="https://www.coinex.com/" target="_blank" rel="noopener noreferrer" class="exchanetag">CoinEx</a></div>
        <!-- <div class="col-span-2 sm:col-span-3 w-full sm:max-w-[66%] mx-auto grid grid-cols-2 gap-4"> -->
          <div><a href="https://www.pionex.com/" target="_blank" rel="noopener noreferrer" class="exchanetag">Pionex</a></div>
          <div><a href="https://bitvavo.com/" target="_blank" rel="noopener noreferrer" class="exchanetag">bitvavo</a></div>
          <div><a href="https://www.kraken.com" target="_blank" rel="noopener noreferrer" class="exchanetag">kraken</a></div>
        </div>
      <!-- </div> -->
      <div class="w-full md:w-2/3 text-[var(--brand-600)] text-base font-light italic">{{ T "exchangessec3text2" | safeHTML }}</div>
    </div>
  </div>
  <!-- sec 3 end -->
  <!-- sec 4 -->
  <div dir="ltr" class="max-w-7xl mx-auto relative z-10 flex justify-end">
    <div class="lg:w-2/3 flex flex-wrap py-20">
      <div class="w-full md:flex-1 flex justify-center"><a href="https://dex.decred.org/" target="_blank" rel="noopener noreferrer"><img src="{{ "/images/dexoption.png" | relURL }}" alt="DEX Option" /></a></div>
      <div class="w-full md:w-72 md:pl-8">
        <h2 class="text-2xl lg:text-5xl text-gray-200 mb-10">{{ T "exchangessec4title" | safeHTML }}</h2>
        <h3 class="text-2xl lg:text-3xl text-[var(--brand-200)] mb-10">{{ T "exchangessec4subtitle" | safeHTML }}</h3>
        <p class="text-[var(--brand-200)] leading-tight">{{ T "exchangessec4text" | safeHTML }}</p>
      </div>

    </div>
  </div>
  <!-- sec 4 end-->
</div>
<!-- contentcover end -->
{{ end }}
