{{ define "content-top" }}
    <div class="tail"></div>
{{ end }}


{{ define "main" }}

    {{ block "page-title" . }}
        <title>Decred - {{ T "nav_exchanges" }}</title>
        <meta content="Decred - {{ T "nav_exchanges" }}" property="og:title">
    {{ end}}


    <div class="full-width">
        <div class="_960">
            <div class="subpage-content-section ex">
                    {{ partial "breadcrumbs_getstarted.html" . }}
                    {{ partial "exchanges-grid" . }}
            </div>
        </div>
    </div>
{{end}}
