<div class="news--pr-footer">
    <div class="press__releases-box">
        <p>About Decred<br>Decred (DCR) is an autonomous digital currency with built-in governance. Thanks to a hybrid
            consensus system, it is built as a decentralized, sustainable, and self-ruling currency where stakeholders
            make the rules. Since 2016, Decred has striven to solve blockchain governance. Our innovative consensus
            voting model empowers stakeholders and allows for the seamless transition from one set of rules to another.
            The project has been featured in the Chicago Tribune, MIT Review, Forbes and leading industry journals. For
            more information, visit: <a target="_blank" rel="noopener noreferrer" href="//decred.org">decred.org</a>.
        </p>
    </div>

    <div class="press__releases-box">
        <p>Media Contacts<br>
            Bill Lessard<br>
            PRwithBrains for Decred<br>
            www.decred.org<br>
            wlessard@prwithbrains.com<br>
            914.476.6089 – office
        </p>
        <p>
            Mike Trevino<br>
            Marketing &amp; Events<br>
            Decred<br>
            miket@decred.org
        </p>
    </div>
</div>